{include file="../application/admin/view/Public/_header.html"/}
<textarea class="textarea valid" placeholder="说点什么...最少输入5个字符" name="content" id="content" aria-required="true" aria-invalid="false"></textarea>
<div class="row cl">
	<label class="form-label col-xs-4 col-sm-3">回答团队：</label>
	<div class="formControls col-xs-8 col-sm-9"> 
		<span class="select-box">
		<select class="select" size="1" name="answerType" id="answerType">
			<option value="1" selected="">服务团队</option>
			<option value="2">医学团队</option>
			<option value="3">技术团队	</option>
			<option value="4">客服</option>
		</select>
		</span> 
	</div>
</div>
<button style="margin-left:1%" class="btn btn-primary radius" id="submit" type="button"> 提交</button>
<input type="hidden" id="id" value={$id}>
<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
{include file="../application/admin/view/Public/_footer.html"/}
<script>
$(".textarea").Huitextarealength({
	minlength:5,
	maxlength:100
});

$('#submit').click(function(){
	var	content=$('#content').val();
	var	id=$('#id').val();
	var	answerType=$('#answerType').val();
	if(content==''){
		layer.msg('请填写内容');
		return;
	}
	$.ajax({
		url:"{:url('Admin/Message/reply')}",
		type:'post',
		dataType:'json',
		data:{
			content:content,id:id,answerType:answerType
		},
		success:function(data){
			if(data.code==1){
				layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
                    parent.location.reload();
                })
			}else{
				layer.msg(data.msg,{icon:2,time:1000});
			}
		}
	});
});
</script>