{include file="../application/admin/view/Public/_header.html"/}
<body>
<article class="page-container">
	<form method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>设备编号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="number" name="number">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>类型：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="type" type="radio" id="appa1" value="1" checked>
					<label for="appa1">血压计</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="appa2" value="2" name="type">
					<label for="appa2">血糖仪</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>端口：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="port" type="radio" id="null" value="" checked>
					<label for="null">无</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="A" value="A" name="port">
					<label for="A">A</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="B" value="B" name="port">
					<label for="B">B</label>
				</div>
			</div>
		</div>
		{if condition="$type == 1"}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>机构：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" style="width: 50%" class="input-text" value='' placeholder="" id="unit">&nbsp&nbsp<input class="btn btn-primary radius" type="button" id="select" value="搜索"><br>
				<table style="display:none" id="unit_data" class="table table-border table-bordered">
		            <thead>
		              <tr>
		                <th>机构编码</th>
		                <th>机构名称</th>
		              </tr>
		            </thead>
		            <tbody id="admin_info">
		            </tbody>
		        </table>
			<input type="hidden" value='' id="unit_value">
			<input type="hidden" id="unit_id" name="unit_id"  value=''}>
			</div>
		</div>
		{else/}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>机构：</label>
			<div class="formControls col-xs-8 col-sm-9">
			<input type="text" disabled="true" style="width: 50%" class="input-text" placeholder="" id="unit" value={$userMsg.info.userName}>
<!-- 				<table style="display:none" id="unit_data" class="table table-border table-bordered">
		            <thead>
		              <tr>
		                <th>机构编码</th>
		                <th>机构名称</th>
		              </tr>
		            </thead>
		            <tbody id="admin_info">
		              <tr>
		                <th>1</th>
		                <td>健康源</td>
		              </tr>
		            </tbody>
		        </table> -->
			</div>
			<input type="hidden" name="group_id" value={$userMsg.id}>
		</div>
		{/if}
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

{include file="../application/admin/view/Public/_footer.html"/}

<!-- <script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>  -->

<script type="text/javascript">
//表单验证
$("#form-member-add").validate({
    rules:{
    	number:{
            required:true,
        },
        unit:{
            required:true,
        },
    },
    onkeyup:false,
    focusCleanup:true,
    success:"valid",
    submitHandler:function(form){
        $(form).ajaxSubmit({
            dataType:'json',
            type:'post',
            success:function (res) {
                if (res.code == 1){
                    layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
                        parent.location.reload();
                    })
                }else {
                	layer.msg('操作失败',{icon:1,time:500})
                }
            }
        });
    }
});

$("#select").click(function(){
	var select = $("#unit").val();
	$.ajax({
        url:"{:url('Admin/Device/device_add')}",
        type:'GET',
        dataType:'json',
        data:{select_admin:1,content:select},
        success:function(data){
            if(data.code==1){
            	$("#unit_data").show();
            	$("#admin_info").replaceWith(function(){
                    return data.msg;
                });
            }else{
                layer.msg(data.msg,{icon:2,time:1000});
            }
        }
    });
});

function admin_jg(id) {
	$('tr').css({'background-color':''});
	if (id != $("#unit_id").val()) {
		$("#jg"+id).css({'background-color':'#C0C0C0'});
		$("#unit_id").val(id);
	}else{
		//取消选择
		$("#unit_id").val('');
	}
}

$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>