{include file="../application/admin/view/Public/_header.html"/}
</head>
<body>
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
<div class="page-container">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl">
				<span>基本信息</span>
				<span>既往病史</span>
				<span>体检报告</span>
				<span>预警设置</span>
				<span>用药记录</span>
				<span>测量统计</span>
				<span>服务记录</span>
			</div>
<!-- 基本信息 -->
		<div class="tabCon">
			<form class="form form-horizontal" id="form-article-add">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						姓名：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="name" placeholder="" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						性别：</label>
					<div class="formControls col-xs-8 col-sm-9 skin-minimal" id="wrap">
						<div class="radio-box">
							<input name="sex" type="radio" id="sex-1" value='1' checked>
							<label for="sex-1">男</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-2" value='2' name="sex">
							<label for="sex-2">女</label>
						</div>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						年龄：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="number" min="1" id="age" placeholder="" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						身份证号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" placeholder="" value="" class="input-text" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/" id="card">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						手机号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" placeholder="" value="" class="input-text" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/" id="phone">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						现住址：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="address" placeholder="" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">家属电话：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" placeholder="" value="" class="input-text" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/" id="family_phone">
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<button onClick="patient_info_submit();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
					</div>
				</div>
			</form>
		</div>
<!-- 既往病史 -->
			<div class="tabCon">
				既往病史
			</div>
<!-- 体检报告 -->
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">图片上传：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<div class="uploader-list-container"> 
							<div class="queueList">
								<div id="dndArea" class="placeholder">
									<div id="filePicker-2"></div>
									<p>或将照片拖到这里，单次最多可选300张</p>
								</div>
							</div>
							<div class="statusBar" style="display:none;">
								<div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>
								<div class="info"></div>
								<div class="btns">
									<div id="filePicker2"></div>
									<div class="uploadBtn">开始上传</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- 预警设置 -->
			<div class="tabCon">
				预警设置
			</div>
<!-- 用药记录 -->
			<div class="tabCon">
				<div class="page-container">
					<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius" data-title="添加记录" onClick="add_drug_record('添加记录','{:url('Admin/Patient/add_drug_record',array('id' => $id))}','700px','600px',)" title="添加记录"><i class="Hui-iconfont">&#xe600;</i> 添加记录</a></span> </div>
					<div class="mt-20">
						<table class="table table-border table-bordered table-bg table-hover table-responsive table-sort">
							<thead>
								<tr class="text-c">
									<th>药名(含量(mg/片))</th>
									<th>用法用量(片/次,次/天)</th>
									<th>用药时间</th>
									<th>是否规律用药(1.规律 2.间断 3.不服药)</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-c">
									<td id="number">xxx</td>
									<td class="text-l">一天一片</td>
									<td>下午3点</td>
									<td>1</td>
									<td class="f-14 td-manage">
										<a style="text-decoration:none" class="ml-5" onClick="article_del(this,'10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
										<a style="text-decoration:none" class="ml-5" onClick="article_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
									</td>
								</tr>
								<tr class="text-c">
									<td>苯磺酸左旋氨氯地</td>
									<td class="text-l">一天两片</td>
									<td>上午</td>
									<td>3</td>
									<td class="f-14 td-manage">
										<a style="text-decoration:none" class="ml-5" onClick="article_del(this,'10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
										<a style="text-decoration:none" class="ml-5" onClick="article_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
<!-- 测量统计 -->
			<div class="tabCon">
				测量统计
			</div>
<!-- 服务记录 -->
			<div class="tabCon">
				服务记录
			</div>
		</div>
</div>

{include file="../application/admin/view/Public/_footer.html"/}
<script type="text/javascript">



$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$("#tab-system").Huitab({
		index:0
	});
});


function patient_info_submit() {
	var sex = $('#wrap input[name="sex"]:checked ').val();
	var name = $("#name").val();
	var age = $("#age").val();
	var card = $("#card").val();
	var phone = $("#phone").val();
	var address = $("#address").val();
	var family_phone = $("#family_phone").val();
	$.ajax({
		type: 'POST',
		url: "{:url('Admin/Patient/patient_info_submit')}",
		dataType: 'json',
		data:{name:name,age:age,card:card,phone:phone,address:address,family_phone:family_phone,sex:sex},
		success: function(data){
			if (data.code == 1) {

			}else{

			}
		}
	})	
}

//添加记录
function add_drug_record(title,url,w,h) {
	layer.open({
	  title:title,
	  type: 2,
	  area: [w, h],
	  fixed: false, //不固定
	  maxmin: true,
	  content: url
	});
}

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
