{include file="../application/admin/view/Public/_header.html"/}
</head>
<body>
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
<div class="page-container">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl">
				<span>基本信息</span>
				<span>既往病史</span>
				<span>体检报告</span>
				<span>预警设置</span>
				<span>用药记录</span>
				<span>测量统计</span>
				<span>服务记录</span>
			</div>
		<!-- 基本信息 -->
		<div class="tabCon">
			<form class="form form-horizontal" id="form-article-add">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						姓名：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="name" placeholder="" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						性别：</label>
					<div class="formControls col-xs-8 col-sm-9 skin-minimal" id="wrap">
						<div class="radio-box">
							<input name="sex" type="radio" id="sex-1" value='1' checked>
							<label for="sex-1">男</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-2" value='2' name="sex">
							<label for="sex-2">女</label>
						</div>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						年龄：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="number" min="1" id="age" placeholder="" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						身份证号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" placeholder="" value="" class="input-text" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/" id="card">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						手机号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" placeholder="" value="" class="input-text" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/" id="phone">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						现住址：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="address" placeholder="" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">家属电话：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" placeholder="" value="" class="input-text" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/" id="family_phone">
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<button onClick="patient_info_submit();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
					</div>
				</div>
			</form>
		</div>
<!-- 既往病史 -->
			<div class="tabCon">
				既往病史
			</div>
<!-- 体检报告 -->
			<div class="tabCon">
				体检报告
			</div>
<!-- 预警设置 -->
			<div class="tabCon">
				预警设置
			</div>
<!-- 用药记录 -->
			<div class="tabCon">
				用药记录
			</div>
<!-- 测量记录 -->
			<div class="tabCon">
				测量记录
			</div>
<!-- 服务记录 -->
			<div class="tabCon">
				服务记录
			</div>
		</div>
</div>

{include file="../application/admin/view/Public/_footer.html"/}
<script type="text/javascript">



$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$("#tab-system").Huitab({
		index:0
	});
});


function patient_info_submit() {
	var sex = $('#wrap input[name="sex"]:checked ').val();
	var name = $("#name").val();
	var age = $("#age").val();
	var card = $("#card").val();
	var phone = $("#phone").val();
	var address = $("#address").val();
	var family_phone = $("#family_phone").val();
	$.ajax({
		type: 'POST',
		url: "{:url('Admin/Patient/patient_info_submit')}",
		dataType: 'json',
		data:{name:name,age:age,card:card,phone:phone,address:address,family_phone:family_phone,sex:sex},
		success: function(data){
			if (data.code == 1) {

			}else{

			}
		}
	})	
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
