{include file="../application/admin/view/Public/_header.html"/}
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/webuploader/0.1.5/webuploader.css">
<style>
.content {
    width: 60%;
    margin-left: 20%;
}
</style>
</head>
<body>
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
<div class="page-container">
	<div id="tab-system" class="HuiTab">
		<div class="tabBar cl">
			<span>基本信息</span>
			<span>既往病史</span>
			<span>体检报告</span>
			<span>测量统计</span>
			<span>预警设置</span>
			<span>用药记录</span>
			<span>服务记录</span>
		</div>
<!-- 基本信息 -->
		<div class="tabCon">
			<form class="form form-horizontal" id="">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						姓名：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="name" placeholder="" value="{$info.name}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						性别：</label>
					<div class="formControls col-xs-8 col-sm-9 skin-minimal" id="wrap">
						<div class="radio-box">
							<input name="sex" type="radio" id="sex-1" value='1' {if condition="$info['sexy'] eq 男"} checked {/if}>
							<label for="sex-1">男</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-2" value='2' name="sex" {if condition="$info['sexy'] eq 女"} checked {/if}>
							<label for="sex-2">女</label>
						</div>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						年龄：</label>
					<div class="formControls col-xs-8 col-sm-9">
						{$info.age}
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						身份证号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" placeholder="" value="{$info.idnum}" class="input-text" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/" id="card">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						手机号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" placeholder="" value="{$info.phoneNum}" class="input-text" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/" id="phone">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						现住址：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="address" placeholder="" value="{$info.address}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">家属电话：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" placeholder="" value="{$info.familyCount}" class="input-text" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/" id="family_phone">
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<button onClick="patient_info_submit();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
					</div>
				</div>
			</form>
		</div>
<!-- 既往病史 -->
	<div class="tabCon">
		<!-- 头部 -->
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<a class="btn btn-primary radius" data-title="编辑病史" onClick="patient_case_add('编辑病史','{:url('Admin/Patient/patient_case_add',array('id' => $id))}','900px','500px',)" title="编辑病史">
				<i class="Hui-iconfont">&#xe600;</i> 编辑病史
			</a>
			<a class="btn btn-primary radius" data-title="编辑影响因素" onClick="patient_case_add('编辑影响因素','{:url('Admin/Patient/patient_factor_add',array('id' => $id))}','700px','500px',)" title="编辑影响因素">
				<i class="Hui-iconfont">&#xe600;</i> 编辑影响因素
			</a>
		</div>
		<!-- 基本信息 -->
		<div style="width:50%; margin: 0 20% 0 20%;">
			<sapn style="font-size:15px;">姓名:{$medical_history_info.name}</span>
			<sapn style="font-size:15px;padding-left: 10%;">年龄:{$medical_history_info.age}</span>
			<sapn style="font-size:15px;padding-left: 10%;">性别:{$medical_history_info.sexy}</span>
			<sapn style="font-size:15px;padding-left: 10%;">危险等级:{$medical_history_info.dangerousLevel}</span>
			<div style="border-top:1px solid #000;border-bottom:1px solid #000;">
				<label>
					其他疾病史与治疗史:
				</label>
				<table class="table table-border table-bordered">
					<tr>
						{volist name="medical_history_info.otherDisease" id="vo" key="k"}
						<td>{$vo.content}</td>
						{/volist}
					</tr>
				</table>
				<label>
					吸烟饮酒史:
				</label>
				<table class="table table-border table-bordered">
					<tr>
						{volist name="medical_history_info.smokeHistory" id="vo" key="k"}
						<td>{$vo.content}</td>
						{/volist}
					</tr>
				</table>
				<label>
					过敏史:
				</label>
				<table class="table table-border table-bordered">
					<tr>
						{volist name="medical_history_info.allergy" id="vo" key="k"}
						<td>{$vo.content}</td>
						{/volist}
					</tr>
				</table>
				<label>
					家族遗传病史:
				</label>
				<table class="table table-border table-bordered">
					<tr>
						{volist name="medical_history_info.famillyDisease" id="vo" key="k"}
						<td>{$vo.content}</td>
						{/volist}
					</tr>
				</table>
				<label>
					服用药物:
				</label>
				<table class="table table-border table-bordered">
					<tr>
						{volist name="medical_history_info.medicalRecord" id="vo" key="k"}
						<td>{$vo.content}</td>
						{/volist}
					</tr>
				</table>
			</div>
			<!-- 影响因素 -->
			<div>
				<dl class="permission-list">
					<dt>
						<label>
							伴随临床疾患
						</label>
					</dt>
					<dd>
						<label class="">
							{volist name="patient_medical.1" id="vo" key="k"}
							<u>{$vo}</u>&nbsp;&nbsp;&nbsp;
							{/volist}
						</label>
					</dd>
				</dl>
				<dl class="permission-list">
					<dt>
						<label>
							心血管危险因素
						</label>
					</dt>
					<dd>
						<label class="">
							{volist name="patient_medical.2" id="vo" key="k"}
							<u>{$vo}</u>&nbsp;&nbsp;&nbsp;
							{/volist}
						</label>
					</dd>
				</dl>
				<dl class="permission-list">
					<dt>
						<label>
							靶器官损害
						</label>
					</dt>
					<dd>
						<label class="">
							{volist name="patient_medical.3" id="vo" key="k"}
							<u>{$vo}</u>&nbsp;&nbsp;&nbsp;
							{/volist}
						</label>
					</dd>
				</dl>
			</div>
		</div>
	</div>
<!-- 体检报告 -->
	<div class="tabCon">
		<!-- 头部 -->
		<div class="cl pd-5 bg-1 bk-gray mt-20"> 
			<a class="btn btn-primary radius" data-title="上传体检报告" onClick="patient_case_add('上传体检报告','{:url('Admin/Patient/examination',array('id' => $id))}','700px','500px',)" title="上传体检报告">
				<i class="Hui-iconfont">&#xe600;</i> 上传体检报告
			</a>
		</div>
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th>报告名称</th>
					<th>预览图</th>
					<th>报告说明</th>
					<th>体检日期</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="report_list" id="vo" key="k"}
				<tr class="text-c">
					<td>{$vo.name}</td>
					<td><a href="javascript:;" onClick="service_record_edit('查看体检报告','{:url('Admin/Patient/picture_show',array('id' => $vo['imageMappers'][0]['reportId']))}','700px','500px')"><img style='width:50px;height:50px;' class="picture-thumb" src="{$vo.imageMappers.0.imgUrl}"></a></td>
					<td>{$vo.reportDescription}</td>
					<td>{$vo.time}</td>
					<td class="td-manage">
						<a style="text-decoration:none" class="ml-5" onClick="service_record_edit('编辑报告','{:url('Admin/Patient/examination',array('id' => $id,'ex_id' => $vo['imageMappers'][0]['reportId']))}','700px','500px')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a style="text-decoration:none" class="ml-5" onclick="examination_del({$vo.imageMappers.0.id})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
<!-- 测量统计 -->
	<div class="tabCon">
		<div class="page-container">
			<div class="text-c">
				<!-- <form action="/Public/Admin/Patient/details" method="get"> -->
					<input type="hidden" name="id" id="patientId" value="{$id}">
				 	<span class="select-box inline">
						<select name="statistics_type" id="statistics_type" class="select" onchange="return jumpPage_statistics()">
							<option value="1" checked>血压数据</option>
							<option value="2">血糖数据</option>
						</select>
					</span> 
					日期范围：
					<input type="text" onfocus="WdatePicker()" id="startDate" name="startDate" class="input-text Wdate" style="width:120px;" value={$TimeData.startDate}>
					-
					<input type="text" onfocus="WdatePicker()" id="endDate" name="endDate" class="input-text Wdate" style="width:120px;" value={$TimeData.endDate}>
					时间范围：
					<input type="text" onfocus="WdatePicker({dateFmt: 'H:mm:ss'})" id="startTime" name="startTime" class="input-text Wdate" style="width:120px;" value={$TimeData.startTime}>
					-
					<input type="text" onfocus="WdatePicker({dateFmt: 'H:mm:ss'})" id="endTime" name="endTime" class="input-text Wdate" style="width:120px;" value={$TimeData.endTime}>
					<button name="" id="screen" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
				<!-- </form> -->
			</div>
			<!-- 血压表格 -->
			<div class="mt-20" id="statistics_blood_data">
				<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive" >
					<thead>
						<tr class="text-c">
							<th>时间</th>
							<th>收缩压</th>
							<th>舒张压</th>
							<th>心率</th>
							<!-- <th>操作</th> -->
						</tr>
					</thead>
					<tbody id="statistics_blood_data_table">
						{volist name="bloodData" id="vo" key="k"}
						<tr class="text-c">
							<td>{$vo.uploadTime}</td>
							<td>{$vo.systolicBloodPressure}</td>
							<td>{$vo.diastolicBloodPressure}</td>
							<td>{$vo.heartRate}</td>
							<!-- <td class="f-14 td-manage"> <a style="text-decoration:none" class="ml-5" onClick="article_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td> -->
						</tr>
						{/volist}
					</tbody>
				</table>
				<!-- 血压趋势图 -->
				<div id="main" style="width:600px;height:400px;margin-top: 50px;"></div>
				<div id="main1" style="width:600px;height:400px;margin-top: 50px;"></div>
			</div>

			<!-- 血糖表格 -->
				<div class="mt-20" id="statistics_sugar_data" style="display: none;">
					<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive" >
						<thead>
							<tr class="text-c">
								<th>日期</th>
								<th>餐前</th>
								<th>餐后</th>
								<th>其他时间</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-c">
								<td>2018-04-02</td>
								<td id="sugar_info">5.9mmol/L(测量时间:00:00:00)
									<img src="__PUBLIC__/images/change.png" alt="编辑" onclick="sugar_edit('{:url("Admin/patient/sugar_edit",array('id'=>12))}','12')">
			            			<img src="__PUBLIC__/images/del.png" alt="删除" onclick="sugar_del('{:url("Admin/patient/sugar_del",array('id'=>$v['id']))}')"><br/></td>
								<td>6.9mmol/L(测量时间:15:30:22)
									<img src="__PUBLIC__/images/change.png" alt="编辑" onclick="sugar_edit('{:url("Admin/patient/sugar_edit",array('id'=>$v['id']))}','700px','500px')">
			            			<img src="__PUBLIC__/images/del.png" alt="删除" onclick="sugar_del('{:url("Admin/patient/sugar_del",array('id'=>$v['id']))}')"></td>
								<td>8.6mmol/L(测量时间:23:59:59)
									<img src="__PUBLIC__/images/change.png" alt="编辑" onclick="sugar_edit('{:url("Admin/patient/sugar_edit",array('id'=>$v['id']))}','700px','500px')">
			            			<img src="__PUBLIC__/images/del.png" alt="删除" onclick="sugar_del('{:url("Admin/patient/sugar_del",array('id'=>$v['id']))}')"></td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
	</div>
<!-- 预警设置 -->
	<div class="tabCon">
		<div class="page-container">
			<!-- 头部 -->
			<table class="table table-border table-bordered" style="width: 10%;">
				<thead>
					<tr class="text-l">
						<th>
							<span class="select-box">
							<select class="select" size="1" id="warning_type" name="select" onchange="return jumpPage()">
							<option value="1" selected>血压</option>
							<option value="2">血糖</option>
							</select>
							</span>
						</th>
					</tr>
				</thead>
			</table>
				<!-- title_end -->
			<table class="table table-border table-bordered" id="bloodData" style="width: 50%;">
			<form action="/Public/Admin/Patient/detail_warning" method="post" class="form form-horizontal" id="form-detail-warning">
				<p style="color:#f00;font-size:12px;margin:1%;">注：设置数值提醒预警</p>
					<tr>
						<td>收缩压</td>
						<td>
							<input style="width: 50%;float: left;" type="number" min="0" class="input-text" name="systolicHigh" value="{$early['systolicHigh']}" id="systolicHigh" placeholder="最大值">
							<input style="width: 50%;float: left;" type="number" min="0" class="input-text" name="systolicLow" value="{$early['systolicLow']}" id="systolicLow" placeholder="最小值">
						</td>
						<td>预警差</td>
						<td><input type="number" min="0" class="input-text" name="systolicSpace" value="{$early['systolicSpace']}" id="systolicSpace" placeholder="预警差"></td>
					</tr>
					<tr>
						<td>舒张压</td>
						<td>
							<input style="width: 50%;float: left;" type="number" min="0" class="input-text" name="diastolicHigh" id="diastolicHigh" value="{$early['diastolicHigh']}" placeholder="最大值">
							<input style="width: 50%;float: left;" type="number" min="0" class="input-text" name="diastolicLow" value="{$early['diastolicLow']}" id="diastolicLow" placeholder="最小值">
						</td>
						<td>预警差</td>
						<td><input type="number" min="0" class="input-text" name="diastolicSpace" value="{$early['diastolicSpace']}" id="diastolicSpace" placeholder="预警差"></td>
					</tr>
					<tr>
						<td>心率</td>
						<td>
							<input style="width: 50%;float: left;" type="number" min="0" class="input-text" name="heartHigh" value="{$early['heartHigh']}" id="heartHigh" placeholder="最大值">
							<input style="width: 50%;float: left;" type="number" min="0" class="input-text" name="heartLow" value="{$early['heartLow']}" id="heartLow" placeholder="最小值">
						</td>
						<td>预警差</td>
						<td><input type="number" min="0" class="input-text" name="heartSpace" value="{$early['heartSpace']}" id="heartSpace" placeholder="预警差"></td>
					</tr>
				</table>
				<div class="row cl"  id="blood_button">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<button class="btn btn-primary radius" type="submit" style="margin-top:1% "><i class="Hui-iconfont">&#xe632;</i> 提交</button>
					</div>
				</div>
				<input type="hidden" name="patientId" value={$id}>
			</form>

			<!-- 血糖 -->
			<table class="table table-border table-bordered" id="bloodSugarData" style="width: 50%;display: none;">
			<form action="/Public/Admin/Patient/detail_sugar_warning" method="post" class="form form-horizontal" id="form-detail-sugar-warning">
					<tr>
						<td>最小值</td>
						<td>
							<input style="width: 100%;float: left;" type="number" min="0" class="input-text" name="blood_sz_min" value="" id="blood_sz_min" placeholder="最小值">
						</td>
					</tr>
					<tr>
						<td>早空腹最大值</td>
						<td>
							<input style="width: 100%;float: left;" type="number" min="0" class="input-text" name="blood_ss_min" value="" id="blood_ss_min" placeholder="最小值">
						</td>
					</tr>
					<tr>
						<td>随机值最大值</td>
						<td>
							<input style="width: 100%;float: left;" type="number" min="0" class="input-text" name="heart_min" value="" id="heart_min" placeholder="最小值">
						</td>
					</tr>
				</table>
				<div class="row cl" style="display: none;" id="sugar_button">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<button class="btn btn-primary radius" type="submit" style="margin-top:1% "><i class="Hui-iconfont">&#xe632;</i> 提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
<!-- 用药记录 -->
	<div class="tabCon">
		<div class="page-container">
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius" data-title="添加记录" onClick="add_drug_record('添加记录','{:url('Admin/Patient/add_drug_record',array('id' => $id))}','700px','500px')" title="添加记录"><i class="Hui-iconfont">&#xe600;</i> 添加记录</a></span> </div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-responsive table-sort">
					<thead>
						<tr class="text-c">
							<th>药名</th>
							<th>含量(mg/片)</th>
							<th>用法用量(片/次,次/天)</th>
							<th>用药时间</th>
							<th>是否规律用药(1.规律 2.间断 3.不服药)</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{volist name="medicalList" id="vo" key="k"}
						<tr class="text-c">
							<td>{$vo.name}</td>
							<td>{$vo.content}mg/片</td>
							<td>{$vo.useWay}片/次,{$vo.useCount}次/天</td>
							<td>{$vo.useTime|date="Y-m-d H:i:s",###}</td>
							<td>
							{switch name=$vo['useFrequency']}
							    {case value="1"}规律{/case}
							    {case value="2"}间断{/case}
							    {case value="3"}不服药{/case}
							{/switch}
							</td>
							<td class="f-14 td-manage">
								<a style="text-decoration:none" class="ml-5" onClick="service_record_edit('添加记录','{:url('Admin/Patient/add_drug_record',array('patientId' => $id,'id' => $vo['id'],'type' => 'save'))}','700px','500px')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
								<a style="text-decoration:none" class="ml-5" onClick="medical_del({$vo.id})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
							</td>
						</tr>
						{/volist}
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!-- 服务记录 -->
	<div class="tabCon">
		<div class="page-container">
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius" data-title="添加记录" onClick="add_service_record('添加记录','{:url('Admin/Patient/add_service_record',array('id' => $id))}','700px','500px',)" title="添加记录"><i class="Hui-iconfont">&#xe600;</i> 添加记录</a></span> </div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-responsive table-sort">
					<thead>
						<tr class="text-c">
							<th>标题</th>
							<th>服务原因</th>
							<th>上传人</th>
							<th>上传时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{volist name="serviceList" id="vo" key="k"}
						<tr class="text-c">
							<td>{$vo.title}</td>
							<td>{$vo.reson}</td>
							<td>{$vo.sign}</td>
							<td>{$vo.time}</td>
							<td class="f-14 td-manage">
								<a style="text-decoration:none" class="ml-5" onClick="service_record_edit('编辑服务记录','{:url('Admin/Patient/add_service_record',array('re_id' => $vo['id'],'id' => $id))}','700px','500px',)" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
								<a style="text-decoration:none" class="ml-5" onClick="service_record_del({$vo.id})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
							</td>
						</tr>
						{/volist}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
<input type="hidden" id="uploadTime" value="{$screen_data.uploadTime}">
<input type="hidden" id="avgSys" value="{$screen_data.avgSys}">
<input type="hidden" id="avgDias" value="{$screen_data.avgDias}">
<input type="hidden" id="avgHear" value="{$screen_data.avgHear}">

<input type="hidden" id="info_week_check" value="{$info_week.check}">
<input type="hidden" id="info_week_uploadTime" value="{$info_week.uploadTime}">
<input type="hidden" id="info_week_avgSys" value="{$info_week.avgSys}">
<input type="hidden" id="info_week_avgDias" value="{$info_week.avgDias}">
<input type="hidden" id="info_week_avgHear" value="{$info_week.avgHear}">

<input type="hidden" id="info_month_check" value="{$info_month.check}">
<input type="hidden" id="info_month_uploadTime" value="{$info_month.uploadTime}">
<input type="hidden" id="info_month_avgSys" value="{$info_month.avgSys}">
<input type="hidden" id="info_month_avgDias" value="{$info_month.avgDias}">
<input type="hidden" id="info_month_avgHear" value="{$info_month.avgHear}">
{include file="../application/admin/view/Public/_footer.html"/}
<script src="__STATIC__/lib/echarts/3.4.0/echarts.common.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.all.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
	$(function(){
		$('.skin-minimal input').iCheck({
			checkboxClass: 'icheckbox-blue',
			radioClass: 'iradio-blue',
			increaseArea: '20%'
		});
		$("#tab-system").Huitab({
			index:0
		});

	var info_week_check = $("#info_week_check").val();
	var info_week_uploadTime = $("#info_week_uploadTime").val();
	var info_week_avgSys = $("#info_week_avgSys").val();
	var info_week_avgDias = $("#info_week_avgDias").val();
	var info_week_avgHear = $("#info_week_avgHear").val();
	//默认显示的本周的数据
	if (info_week_check == '1') {
		var info_week_uploadTime = ' ';
		var info_week_avgSys = ' ';
		var info_week_avgDias = ' ';
		var info_week_avgHear = ' ';
	}else{
		var info_week_uploadTime = info_week_uploadTime.split(',');
		var info_week_avgSys = info_week_avgSys.split(',');
		var info_week_avgDias = info_week_avgDias.split(',');
		var info_week_avgHear = info_week_avgHear.split(',');
	}

	var info_month_check = $("#info_month_check").val();
	var info_month_uploadTime = $("#info_month_uploadTime").val();
	var info_month_avgSys = $("#info_month_avgSys").val();
	var info_month_avgDias = $("#info_month_avgDias").val();
	var info_month_avgHear = $("#info_month_avgHear").val();
	//默认显示的本月的数据
	if (info_month_check == ['1']) {
		var info_month_uploadTime = ' ';
		var info_month_avgSys = ' ';
		var info_month_avgDias = ' ';
		var info_month_avgHear = ' ';
	}else{
		var info_month_uploadTime = info_month_uploadTime.split(',');
		var info_month_avgSys = info_month_avgSys.split(',');
		var info_month_avgDias = info_month_avgDias.split(',');
		var info_month_avgHear = info_month_avgHear.split(',');
	}

	var uploadTime = $("#uploadTime").val();
	var avgSys = $("#avgSys").val();
	var avgDias = $("#avgDias").val();
	var avgHear = $("#avgHear").val();
	var myChart = echarts.init(document.getElementById('main'));
	var myChart1 = echarts.init(document.getElementById('main1'));
	// 指定图表的配置项和数据
	var option = {
	    title: {
	        text: '周血压'
	    },
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {
	        data:['收缩压','舒张压','心率']
	    },
	    grid: {
	        left: '3%',
	        right: '4%',
	        bottom: '3%',
	        containLabel: true
	    },
	    toolbox: {
	        feature: {
	            saveAsImage: {}
	        }
	    },
	    xAxis: {
	        type: 'category',
	        boundaryGap: false,
	        data: info_week_uploadTime
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: [
	        {
	            name:'收缩压',
	            type:'line',
	            data: info_week_avgSys
	        },
	        {
	            name:'舒张压',
	            type:'line',
	            data: info_week_avgDias
	        },
	        {
	            name:'心率',
	            type:'line',
	            data: info_week_avgHear
	        }
	    ]
	};
	var option1 = {
	    title: {
	        text: '月血压'
	    },
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {
	        data:['收缩压','舒张压','心率']
	    },
	    grid: {
	        left: '3%',
	        right: '4%',
	        bottom: '3%',
	        containLabel: true
	    },
	    toolbox: {
	        feature: {
	            saveAsImage: {}
	        }
	    },
	    xAxis: {
	        type: 'category',
	        boundaryGap: false,
	        data: info_month_uploadTime
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: [
	        {
	            name:'收缩压',
	            type:'line',
	            data:info_month_avgSys
	        },
	        {
	            name:'舒张压',
	            type:'line',
	            data:info_month_avgDias
	        },
	        {
	            name:'心率',
	            type:'line',
	            data:info_month_avgHear
	        }
	    ]
	};

	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
	myChart1.setOption(option1);



	});
</script>

<script type="text/javascript">
	$('.table-sort').dataTable({
		"searching": true,
		"aaSorting": [[ 0, "desc" ]],//默认第几个排序
		// "aoColumnDefs": [
		//   //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		//   {"orderable":false,"aTargets":[0]}// 不参与排序的列
		// ]
	});

	//更新基本信息
	function patient_info_submit() {
		var sex = $('#wrap input[name="sex"]:checked ').val();
		var name = $("#name").val();
		var card = $("#card").val();
		var phone = $("#phone").val();
		if (card) {
			var pattern = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;  
   			if (pattern.test(card) == false){
   				layer.msg("身份证号码不正确！",{icon:2,time:1000});
				return;
   			}
			
		}
		if (phone) {
			// 验证手机号
			var re=/^[1][3,4,5,7,8][0-9]{9}$/;
            if (!re.test(phone)){
				layer.msg("手机号码格式不正确！",{icon:2,time:1000});
				return;
            }
		}
		var address = $("#address").val();
		var family_phone = $("#family_phone").val();
		$.ajax({
			type: 'POST',
			url: "{:url('Admin/Patient/patient_info_submit')}",
			dataType: 'json',
			data:{name:name,idNum:card,phoneNum:phone,address:address,familyPhoneNum:family_phone,sex:sex,id:{$id}},
			success: function(data){
				if (data.code == 1) {
					layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
						location.reload();
					})
				}else{
	                layer.msg(data.msg);
				}
			}
		})	
	}

	//添加记录
	function add_drug_record(title,url,w,h) {
		layer.open({
		  title:title,
		  type: 2,
		  area: [w, h],
		  fixed: false, //不固定
		  content: url
		});
	}

	//添加病史
	function patient_case_add(title,url,w,h) {
		layer.open({
		  title:title,
		  type: 2,
		  area: [w, h],
		  fixed: false, //不固定
		  content: url
		});
	}


	//既往病史表单验证
	$("#form-patient-record-set").validate({
	    onkeyup:false,
	    focusCleanup:true,
	    success:"valid",
	    submitHandler:function(form){
	        $(form).ajaxSubmit({
	            dataType:'json',
	            type:'post',
	            success:function (data) {
	                if (data.code == 1){
	                    layer.msg('操作成功,请稍等...',{icon:1,time:1000},function() {
							parent.location.reload();
						})
	                }else {
	                    layer.msg('设置失败');
	                }
	                
	                
	            }
	        });
	    }
	});

	//体检报告表单验证
	$("#form-patient-inspect-set").validate({
	    onkeyup:false,
	    focusCleanup:true,
	    success:"valid",
	    submitHandler:function(form){
	        $(form).ajaxSubmit({
	            dataType:'json',
	            type:'post',
	            success:function (data) {
	                if (data.code == 1){
	                    layer.msg('操作成功,请稍等...',{icon:1,time:1000},function() {
							parent.location.reload();
						})
	                }else {
	                    layer.msg('设置失败');
	                }
	                
	                
	            }
	        });
	    }
	});

	//预警血压表单验证
	$("#form-detail-warning").validate({
	    onkeyup:false,
	    focusCleanup:true,
	    success:"valid",
	    submitHandler:function(form){
	        $(form).ajaxSubmit({
	            dataType:'json',
	            type:'post',
	            success:function (res) {
	                if (res.code == 1){
	                    layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
							location.reload();
						})
	                }else {
	                    layer.msg(data.msg,{icon:1,time:1000});
	                }
	            }
	        });
	    }
	});

	//预警血糖表单验证
	$("#form-detail-sugar-warning").validate({
	    onkeyup:false,
	    focusCleanup:true,
	    success:"valid",
	    submitHandler:function(form){
	        $(form).ajaxSubmit({
	            dataType:'json',
	            type:'post',
	            success:function (res) {
	                if (res.code == 1){
	                    layer.msg('操作成功,请稍等...',{icon:1,time:1000},function() {
							parent.location.reload();
						})
	                }else {
	                    layer.msg('设置失败');
	                }
	            }
	        });
	    }
	});

	function jumpPage() {
		// 血压
		if ($("#warning_type").val()=='1') {
			$("#bloodSugarData").hide();
			$("#bloodData").show();
			$("#blood_button").show();
			$("#sugar_button").hide();
		}
		// 血糖
		if ($("#warning_type").val()=='2') {
			$("#bloodData").hide();
			$("#bloodSugarData").show();
			$("#blood_button").hide();
			$("#sugar_button").show();
		}
	}

	//测量统计视图切换
	function jumpPage_statistics() {
		// 血压
		if ($("#statistics_type").val()=='1') {
			$("#statistics_sugar_data").hide();
			$("#statistics_blood_data").show();
		}
		// 血糖
		if ($("#statistics_type").val()=='2') {
			$("#statistics_blood_data").hide();
			$("#statistics_sugar_data").show();
		}
	}

	//血糖数据修改
	function sugar_edit(url,id){
		var sugar_info = $("#sugar_info").text();
		var sugar_info = sugar_info.split('mmol/L')[0];
		layer.open({
		  title:'血糖数据修改',
		  type: 2,
		  offset: 'auto',
		  fixed: false, //不固定
		  maxmin: false,
		  scrollbar: false,
		  content: "/public/Admin/patient/sugar_edit?id="+id+"&sugar_info="+sugar_info
		});
	}

	//血糖数据删除
	function sugar_del(url){
		var sure=confirm('确认删除吗？'); 
		if (1==sure){
			$.ajax({
				url:url,
				type:'post',
				dataType:'json',
				data:{},
				success:function(data){
					if(data.code==1){
						layer.msg(data.msg, {shift: -1},function(){
							window.setTimeout("location.href=location.href",500);
						});
					}else{
						layer.msg(data.msg);
					}
				}
			})
		}else{
			alert( '已取消');
		}
	}

	//添加服务记录
	function add_service_record(title,url,w,h) {
		layer.open({
			title:title,
			type: 2,
			area: [w, h],
			fixed: false, //不固定
			maxmin: false,
			content: url
		});
	}

	//编辑服务记录
	function service_record_edit(title,url,w,h) {
		layer.open({
			title:title,
			type: 2,
			area: [w, h],
			fixed: false, //不固定
			maxmin: false,
			content: url
		});
	}

	//删除服务记录
	function service_record_del(id) {
		layer.confirm('确认删除吗?', {
		  btn: ['确认','取消'] //按钮
		}, function(){
		  $.ajax({
				type: 'POST',
				url: "{:url('Admin/patient/del_service_record')}",
				data:{id:id},
				dataType: 'json',
				success: function(data){
					if (data.code == 1) {
						layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
							location.reload();
						})
					}else{
						layer.msg(data.msg,{icon:2})
					}
				},
			});	
		}, function(){
		});
	}

	//删除体检报告
	function examination_del(id) {
		layer.confirm('确认删除吗?', {
		  	btn: ['确认','取消'] //按钮
		}, function(){
		  $.ajax({
				type: 'POST',
				url: "{:url('Admin/patient/examination_del')}",
				data:{id:id},
				dataType: 'json',
				success: function(data){
					if (data.code == 1) {
						layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
							location.reload();
						})
					}else{
						layer.msg(data.msg,{icon:2})
					}
				},
			});	
		}, function(){
		});
	}

	//查看服务记录
	function service_record_check($content) {
		layer.open({
  		  area: ['300px', '300px'],
		  type: 1,
		  skin: 'layui-layer-demo', //样式类名
		  // closeBtn: 0, //不显示关闭按钮
		  anim: 2,
		  shadeClose: true, //开启遮罩关闭
		  content: $content
		});
	}

	//删除用药记录
	function medical_del(id) {
		layer.confirm('确认删除吗?', {
		  btn: ['确认','取消'] //按钮
		}, function(){
		  $.ajax({
				type: 'POST',
				url: "{:url('Admin/patient/medical_del')}",
				data:{id:id},
				dataType: 'json',
				success: function(data){
					if (data.code == 1) {
						layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
							location.reload();
						})
					}else{
						layer.msg(data.msg,{icon:2})
					}
				},
			});	
		}, function(){
		});
	}

	$("#screen").click(function() {
		var statistics_type = $("#statistics_type").val();
		var startDate = $("#startDate").val();
		var endDate = $("#endDate").val();
		var startTime = $("#startTime").val();
		var endTime = $("#endTime").val();
		var patientId = $("#patientId").val();
		$.ajax({
			type:'post',
			url:"{:url('Admin/patient/screen_details_blood')}",
			data:{patientId:patientId,startDate:startDate,endDate:endDate,startTime:startTime,endTime:endTime,statistics_type:statistics_type},
			dataType:'json',
			success:function(res) {
				if (res.code == 1) {
					$("#main1").hide();
					var myChart = echarts.init(document.getElementById('main'));
					myChart.setOption(
						{
						    title: {
						        text: '筛选血压'
						    },
						    tooltip: {
						        trigger: 'axis'
						    },
						    legend: {
						        data:['收缩压','舒张压','心率']
						    },
						    grid: {
						        left: '3%',
						        right: '4%',
						        bottom: '3%',
						        containLabel: true
						    },
						    toolbox: {
						        feature: {
						            saveAsImage: {}
						        }
						    },
						    xAxis: {
						        type: 'category',
						        boundaryGap: false,
						        data: res.msg.uploadTime.split(',')
						    },
						    yAxis: {
						        type: 'value'
						    },
						    series: [
						        {
						            name:'收缩压',
						            type:'line',
						            data: res.msg.avgSys.split(',')
						        },
						        {
						            name:'舒张压',
						            type:'line',
						            data: res.msg.avgDias.split(',')
						        },
						        {
						            name:'心率',
						            type:'line',
						            data: res.msg.avgHear.split(',')
						        }
						    ]
						}
					);
					//获取数据替换内容
					$("#statistics_blood_data_table").replaceWith(function(){
                    	return res.html;
                	});
				}else{
					$("#main").hide();
					if (res.html) {
						$("#statistics_blood_data_table").replaceWith(function(){
                    		return res.html;
                		});
					}else{
						layer.msg('此时间段暂无数据',{icon:2})
					}
				}
			}
		});
	});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>	
</html>
