{include file="../application/admin/view/Public/_header.html"/}
<style type="text/css">
  .preview{
    width: 120px;
    height: 120px;
    position: relative;
    margin-right: 20px;
    float: left;
  }
  .add_pic img{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0px;
    top:0px;
    float: left;
  }
  .add_pic input[type="file"]{
     width: 120px;
    height: 120px;
    position: absolute;
    left: 0px;
    top:0px;
    z-index: 999;
    opacity: 0;
    float: left;
  }
  .pic{
    position: absolute;
    top:0px;
    left: 0px;
  }
  .del_pic1{
    position: absolute;
    z-index: 999;
    right: -8px;
    top:-8px;
  }
/*  .btn-primary{
    position: absolute;
    margin-top: 120px;
  }*/
</style>
<div class="page-container">    
	<form action="" method="post" class="form form-horizontal" id="form-examination-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">体检报告名称:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$examination.name}" placeholder="" id="" name="name">
            </div>
        </div>







	   	<!-- <div class="row cl">
	        <label class="form-label col-xs-4 col-sm-2">上传图片：</label>
	        <script type="text/plain" id="j_ueditorupload" style="height:5px;display:none;" ></script>
	        <div class="formControls col-xs-8 col-sm-9">
	            <span style="width: 50px;height: 50px;" id="imgshow">
	                {if condition="$examination['imgUrl'] neq ''"}
	                    <img style='width:50px;height:50px;' src={$examination.imgUrl}>
	                {/if}
	            </span>
	            <button type="button" onClick="upImage()" id="imgup">上传图片</button>
	        </div>
	        <input type="hidden" name="imgUrl" id="imgUrl" value=''>
	    </div>
 -->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">报告说明：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea class="textarea valid" placeholder="最少输入10个字符" name="remark" aria-required="true" aria-invalid="false">{$examination.remark}</textarea>
            </div>
        </div>

        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">体检日期：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input  class="input-text" onClick="laydate()" name="date" id="time" value="{$examination.date}">
			</div>
		</div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">上传体检报告：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="form-group" style="position:relative">
                    <!-- <label for="exampleInputFile">上传体检图片：</label> -->
                    <div class="license1">
                      <div class="preview prev">
                        <div class="add_pic">
                            <input type="hidden" name="key" value="">
                            <input type="file" id="picture" name="file1" onchange="preview1(this)"/>
                            <img src="__PUBLIC__/images/jia_pic.png" alt="">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="imgkey" value="">
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>

	</form>
</div>



{include file="../application/admin/view/Public/_footer.html"/}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.all.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script src="__STATIC__/lib/layer/laydate/laydate.js"></script>
<script type="text/javascript">
laydate.render({
  elem: '#time',
  type: 'date'
});
$(".textarea").Huitextarealength({
    minlength:10,
    maxlength:100
});

$(function(){
    //表单验证
    $("#form-examination-add").validate({
        rules:{
            name:{
                required:true
            },
            remark:{
                required:true
            },
            date:{
                required:true
            },
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            $(form).ajaxSubmit({
                dataType:'json',
                type:'post',
                success:function (res) {
                    if (res.code == 1){
                        layer.msg('操作成功,请稍等...',{icon:1,time:1000},function() {
                            parent.location.reload();
                        })
                    }else {
                        layer.msg('设置失败',{icon:2});
                    }
                }
            });
        }
    });
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });

});

    // 图片上传
    function preview1(file){
        var fileText=$(file).val();
         if(fileText==""){
            return false;
        }
        if(!/.(gif|jpg|jpeg|png|GIF|JPG|JPEG|PNG)$/.test(fileText)){
            layer.open({
                closeBtn:0,
                type:0,
                content:"图片类型必须是gif,jpeg,jpg,png中的一种",
            })
            $(file).val('');
            return false;
        }
            p2 = 1;
            if (file.files && file.files[0]){
                var reader = new FileReader();
                reader.onload = function(evt){
                    var prevDiv =
                        '<div>'+
                        '<img  style="width:120px;height:120px" class="pic" src="' + evt.target.result + '" />'+
                        '<img class="del_pic1" src="__PUBLIC__/images/delete.png" onclick="del_pic1(this)" alt="">'+
                        '</div>';
                    $(file).parent().parent().append(prevDiv);
                    var timestamp = Date.parse(new Date());
                     if($(".prev").length<4){
                        var str =
                            '<div class="preview prev">'+
                            '<div class="add_pic">'+
                            '<input type="file" name="file'+timestamp+'" onchange="preview1(this)"/>'+
                            '<img src="__PUBLIC__/images/jia_pic.png" alt="">'+
                            '</div>'+
                            '</div>';
                        $(".license1").append(str);
                    }
                };
                reader.readAsDataURL(file.files[0]);
                //在这里ajax提交file信息(file.files[0])到接口保存,并通过获取的返回的图片信息进行保存
                $.ajax({
                    type: 'POST',
                    url: "http://up-z2.qiniup.com/", 
                    processData:false,
                    mimeType:"multipart/form-data",
                    data:{key:'123',token:'123',accept:'',file:file.files[0]},
                    contentType:undefined,
                    success: function(data){
                        console.log(data);return;
                        var hash = data.hash;
                        var key = data.key;
                        var imgurl = "http://pbngsysl7.bkt.clouddn.com/key";//图片展示地址
                        //保存已上传图片key值
                        var imgkey = $("imgkey").val();
                        if (imgkey) {
                            $("#imgkey").val(imgkey+','+key);
                        }else{
                            $("#imgkey").val(key);
                        }
                    },
                    error: function (data) {  
                        console.log(data);  
                    }  
                });  
                
            }else{
                prevDiv.innerHTML = '<div class="img" src=file.value></div>';
            }
    }
    function del_pic1(obj){
            //删除此张已上传的图片,并删除页面上保存的key值
            $(obj).parent().parent().remove()
            if($(".prev").length == 1){
                p2 = 0;
            }
             var piclen=$(".pic").length;
             if(piclen==0){
                $(".prev").remove();
                     var str =
                    '<div class="preview prev">'+
                    '<div class="add_pic">'+
                    '<input  type="file" name="file1" onchange="preview1(this)"/>'+
                    '<img src="__PUBLIC__/images/jia_pic.png" alt="">'+
                    '</div>'+
                    '</div>';
                $(".license1").append(str)
                console.log($(".prev").length)
            }
            //如果只存在一个图片时，添加一个加号
            if(piclen==3){
                     var str =
                    '<div class="preview prev">'+
                    '<div class="add_pic">'+
                    '<input  type="file" name="file1" onchange="preview1(this)"/>'+
                    '<img src="__PUBLIC__/images/jia_pic.png" alt="">'+
                    '</div>'+
                    '</div>';
                $(".license1").append(str)
                console.log($(".prev").length)
            }
        }
</script>