{include file="../application/admin/view/Public/_header.html"/}
<div class="page-container" style="width: 20%; float: left; cursor:pointer;">
	<table onclick="jg('12')" id="12" border="1" cellspacing="0"  class="leve-table table" data-id='' style="background-color:#C0C0C0">
		<tr>
			<td rowspan="2" id="leve-ta" >
				<img style="width: 50px; height: 50px;" class="tou-img" src="http://www.healths2017.com" onerror="this.src='__PUBLIC__/images/1517275559.jpg'">
			</td>
			<td class="leve-tb yd">
				<p>机构1</p>
			</td>
		</tr>
		<tr>
			<td class="leve-tb xd">
				<p>asdasd</p>
			</td>
		</tr>
	</table>
</div>
<div class="page-container" style="width: 20%;float: left; cursor:pointer;">
	<table onclick="jg('11')" id="11" border="1" cellspacing="0"  class="leve-table table" data-id=''>
		<tr>
			<td rowspan="2" id="leve-ta"><img class="tou-img" style="width: 50px; height: 50px;" src="http://www.healths2017.com" onerror="this.src='__PUBLIC__/images/1521601030.jpg'">
			</td>
			<td class="leve-tb yd"><p>机构2</p></td>
		</tr>
		<tr>
			<td class="leve-tb xd"><p>asdasd</p></td>
		</tr>
	</table>
</div>
<form action="" method="post" class="form form-horizontal" id="form-group-set">
<div class="page-container" id="aa" >
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th>选择</th>
					<th>姓名</th>
					<th>联系电话</th>
				</tr>
			</thead>
			<tbody id="list">
				<tr class="text-c">
					<td>
						<input name="doctor" type="radio" value="1" id="doctor">
					</td>
					<td>默认医生</td>
					<td>1123</td>
				</tr>
				<tr class="text-c">
					<td>
						<input name="doctor" type="radio" value="1" id="doctor">
					</td>
					<td>默认医生2</td>
					<td>1123</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="page-container" id="yz" >
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th>选择</th>
					<th>姓名</th>
					<th>联系电话</th>
				</tr>
			</thead>
			<tbody id="list_yz">
				<tr class="text-c">
					<td>
						<input name="yz" type="radio" value="1" id="yz">
					</td>
					<td>默认医助</td>
					<td>1123</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<input type="hidden" value={$id} name="id">
<input type="hidden" value="" id="jg_id" name="jg_id">
<input type="hidden" value="1" name="submit_set">
<div class="row cl">
	<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
		<input id="tj" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
	</div>
</div>
</form>
{include file="../application/admin/view/Public/_footer.html"/}

<!-- <script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>  -->

<script type="text/javascript">

$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	//表单验证
    $("#form-patient-add").validate({
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            $(form).ajaxSubmit({
                dataType:'json',
                type:'post',
                success:function (res) {
                    if (res.status == 1){
                        var icon_n = '1';
                    }else {
                        var icon_n = '2';
                    }
                }
            });
        }
    });
});

//表单验证
$("#form-group-set").validate({
    onkeyup:false,
    focusCleanup:true,
    success:"valid",
    submitHandler:function(form){
        $(form).ajaxSubmit({
            dataType:'json',
            type:'post',
            success:function (data) {
                if (data.code == 1){
                    layer.msg('操作成功,请稍等...',{icon:1,time:1000},function() {
						parent.location.reload();
					})
                }else {
                    layer.msg('设置失败');
                }
                
                
            }
        });
    }
});



function jg(id) {
	$('table').css({'background-color':''});
	$('#'+id).css({'background-color':'#C0C0C0'});
	$('#jg_id').val(id);
	$.ajax({
		type: 'POST',
		url: "{:url('Admin/patient/jg')}",
		dataType: 'json',
		data:{p_id:id,type:'1'},
		success: function(data){
			if (data.code == 1) {
				$("#list").replaceWith(function(){
                    return data.html;
                });
                $("#list_yz").replaceWith(function(){
                    return data.html_yz;
                });
			}else{
				layer.msg('设置失败');
			}
		}
	});
}

</script> 
