{include file="../application/admin/view/Public/_header.html"/}
<div class="page-container">
		<ul class="cl portfolio-area">
			{volist name="groupList" id="vo" key="k"}
			<li class="item">
				<div class="portfoliobox" onclick="jg({$vo.id})" id="jg{$vo.id}">
					<div class="picbox"><img src={$vo.imgUrl}></div>
					<div class="textbox">{$vo.name}</div>
				</div>
			</li>
			{/volist}
<!-- 			<li class="item">
				<div class="portfoliobox" onclick="jg('12')" id="jg12">
					<div class="picbox"><img src="__PUBLIC__/images/1517275559.jpg"></div>
					<div class="textbox">机构1 </div>
				</div>
			</li>
			<li class="item">
				<div class="portfoliobox"  onclick="jg('11')" id="jg11">
					<div class="picbox "><img src="__PUBLIC__/images/1521601030.jpg"></div>
					<div class="textbox">机构2 </div>
				</div>
			</li> -->
		</ul>
</div>

<form action="" method="post" class="form form-horizontal" id="form-group-set">
<span style="width: 50%;float: left;">
<div class="page-container" id="aa" >
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-l">
					<th>选择</th>
					<th>姓名</th>
					<th>头像</th>
					<th>联系电话</th>
					<th>专科</th>
					<th>毕业学校</th>
					<th>简介</th>
				</tr>
			</thead>
			<tbody id="list">
			</tbody>
		</table>
	</div>
</div>
</span>

<span style="width: 50%;float: left;">
<div class="page-container" id="yz" >
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-l">
					<th>选择</th>
					<th>姓名</th>
					<th>头像</th>
					<th>联系电话</th>
					<th>性别</th>
					<th>个人简介</th>
				</tr>
			</thead>
			<tbody id="list_yz">
			</tbody>
		</table>
	</div>
</div>
</span>
<input type="hidden" value={$id} name="id">
<input type="hidden" id="jg_id" name="jg_id" value={$jg_id}>
<!-- <input type="hidden" value={$doctor_id} id="doctor_id" name="doctor_id">
<input type="hidden" value={$assistant_doctor_id} id="assistant_doctor_id" name="assistant_doctor_id"> -->

<input type="hidden" value="1" name="submit_set">
<div class="row cl" style="margin-left:20%">
	<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
		<input id="tj" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
	</div>
</div>
</form>
{include file="../application/admin/view/Public/_footer.html"/}

<!-- <script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>  -->

<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"pading":false,
	});
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$(".portfolio-area li").Huihover();
});

//表单验证
$("#form-group-set").validate({
    onkeyup:false,
    focusCleanup:true,
    success:"valid",
    submitHandler:function(form){
        $(form).ajaxSubmit({
            dataType:'json',
            type:'post',
            success:function (data) {
                if (data.code == 1){
                    layer.msg('操作成功,请稍等...',{icon:1,time:1000},function() {
						parent.location.reload();
					})
                }else {
                    layer.msg('设置失败');
                }
                
                
            }
        });
    }
});



function jg(id) {
	$('div').css({'background-color':''});
	$('#jg'+id).css({'background-color':'#C0C0C0'});
	$('#jg_id').val(id);
	$.ajax({
		type: 'POST',
		url: "{:url('Admin/patient/jg')}",
		dataType: 'json',
		data:{p_id:id,type:'1',group_set:'1'},
		success: function(data){
			if (data.code == 1) {
				$("#list").replaceWith(function(){
                    return data.html;
                });
                $("#list_yz").replaceWith(function(){
                    return data.html_yz;
                });
			}else{
				layer.msg('设置失败');
			}
		}
	});
}

</script> 
