{include file="../application/admin/view/Public/_header.html"/}
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>添加用户</title>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-patient-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="userName" name="userName">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">昵称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="nickName" name="nickName">
			</div>
		</div>
		<div class="row cl">	
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" id="passWord" name="passWord">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" id="passWord2" name="passWord2">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="tel" class="input-text" value="" placeholder="" id="phoneNum" name="phoneNum">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="name" name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="sex" type="radio" value="1" id="sex-1" checked>
					<label for="sex-1">男</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-2" value="2" name="sex">
					<label for="sex-2">女</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">身份证号码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="idNum" name="idNum">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>机构：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" style="width: 50%" class="input-text" placeholder="" id="unit" name="unit" value={$userMsg.name}>&nbsp&nbsp<input class="btn btn-primary radius" type="button" id="select" value="搜索"><br>
				<table style="display:none" id="unit_data" class="table table-border table-bordered">
		            <thead>
		              <tr>
		                <th>机构编码</th>
		                <th>机构名称</th>
		              </tr>
		            </thead>
		            <tbody id="admin_info">
		            </tbody>
		        </table>

		        <table style="display:none;width: 50%;float: left;" id="doctor_data" class="table table-border table-bordered">
		            <thead>
		              <tr>
		                <th>医生</th>
		              </tr>
		            </thead>
		            <tbody id="doctor_info">
		              <tr>
		                <th>1</th>
		                <td>选择</td>
		              </tr>
		            </tbody>
		        </table>
		        <table style="display:none;width: 50%;float: left;" id="yz_data" class="table table-border table-bordered">
		            <thead>
		              <tr>
		                <th>医助</th>
		              </tr>
		            </thead>
		            <tbody id="yz_info">
		              <tr>
		                <th>1</th>
		              </tr>
		            </tbody>
		        </table>
			<input type="hidden" name="unit_id" id="unit_id"  value={$userMsg.id}>
			<input type="hidden" name="ys_id" id="ys_id" value=''>
			<input type="hidden" name="yz_id" id="yz_id" value=''>
			<input type="hidden" name="doctorName" id="doctorName" value=''>
			<input type="hidden" name="assistantName" id="assistantName" value=''>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>


{include file="../application/admin/view/Public/_footer.html"/}
<script type="text/javascript">
$("#select").click(function(){
	var select = $("#unit").val();
	$.ajax({
        url:"{:url('Admin/index/select_admin')}",
        type:'GET',
        dataType:'json',
        data:{content:select},
        success:function(data){
            if(data.code==1){
            	$("#unit_data").show();
            	$("#admin_info").replaceWith(function(){
            		return data.msg;
                });
            }else{
                layer.msg(data.msg,{icon:2,time:1000});
            }
        }
    });
});

function admin_jg(id) {
	$('tr').css({'background-color':''});
	if (id != $("#unit_id").val()) {
		$("#jg"+id).css({'background-color':'#C0C0C0'});
		$("#unit_id").val(id);
		var unit_name = $("#jg"+id+" td").text();
		$("#unit").val(unit_name);
		$.ajax({
	        url:"{:url('Admin/index/select_doctor')}",
	        type:'GET',
	        dataType:'json',
	        data:{content:id},
	        success:function(data){
	            if(data.code==1){
	            	$("#doctor_data").show();
	            	$("#doctor_info").replaceWith(function(){
	            		return data.msg;
	                });
	            }else{
	                layer.msg(data.msg);
	            }
	        }
	    });
	    $.ajax({
	        url:"{:url('Admin/index/select_yz')}",
	        type:'GET',
	        dataType:'json',
	        data:{content:id},
	        success:function(data){
	            if(data.code==1){
	            	$("#yz_data").show();
	            	$("#yz_info").replaceWith(function(){
	            		return data.msg;
	                });
	            }else{
	                layer.msg(data.msg);
	            }
	        }
	    });
	}else{
		//取消选择
		$("#unit").val('');
		$("#unit_id").val('');
		$("#doctor_data").hide();
		$("#yz_data").hide();
		$("#ys_id").val('');
		$("#yz_id").val('');
		$("#doctorName").val('');
		$("#assistantName").val('');
	}
}

function admin_ys(id) {
	if (id == $("#ys_id").val()) {
		$("#ys"+id).css({'background-color':''});
		$("#ys_id").val('');
		$("#doctorName").val('');
		return;
	}
	$('#doctor_data tr').css({'background-color':''});
	$("#ys"+id).css({'background-color':'#C0C0C0'});
	var name = $("#ys"+id+" td").text();
	$("#ys_id").val(id);
	$("#doctorName").val(name);
}

function admin_yz(id) {
	if (id == $("#yz_id").val()) {
		$("#yz"+id).css({'background-color':''});
		$("#yz_id").val('');
		$("#assistantName").val('');
		return;
	}
	$('#yz_data tr').css({'background-color':''});
	$("#yz"+id).css({'background-color':'#C0C0C0'});
	var name = $("#yz"+id+" td").text();
	$("#yz_id").val(id);
	$("#assistantName").val(name);
}

$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	//表单验证
    $("#form-patient-add").validate({
    	rules: {
      	userName: "required",
      	passWord: "required",
      	passWord2: "required",
      	phoneNum: "required",
      	name: "required",
      	sex: "required",
      	},
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            $(form).ajaxSubmit({
                dataType:'json',
                type:'post',
                success:function (res) {
                    if (res.code == 1){
                        layer.msg('操作成功,请稍等...',{icon:1,time:1000},function() {
                            parent.location.reload();
                        })
                    }else {
                        layer.msg(res.msg,{icon:2,time:1000})
                    }
                }
            });
        }
    });
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>