{include file="../application/admin/view/Public/_header.html"/}
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a class="btn btn-primary radius" data-title="添加病史" onClick="patient_history_extension_add('添加病史','{:url('Admin/Patient/patient_history_extension_add',array('id' => $id))}','700px','400px',)" title="添加病史"><i class="Hui-iconfont">&#xe600;</i> 添加病史</a></span>
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-responsive table-sort">
			<thead>
				<tr class="text-c">
					<th>病史记录</th>
					<th>分类</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="medical_history_info.otherDisease" id="vo" key="k"}
				<tr class="text-c">
					<td>{$vo.content}</td>
					<td>{$vo.type}</td>
					<td class="f-14 td-manage">
						<a style="text-decoration:none" class="ml-5" onClick="case_del({$vo.extensionId})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
				{/volist}
				{volist name="medical_history_info.smokeHistory" id="vo" key="k"}
				<tr class="text-c">
					<td>{$vo.content}</td>
					<td>{$vo.type}</td>
					<td class="f-14 td-manage">
						<a style="text-decoration:none" class="ml-5" onClick="case_del({$vo.extensionId})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
				{/volist}
				{volist name="medical_history_info.allergy" id="vo" key="k"}
				<tr class="text-c">
					<td>{$vo.content}</td>
					<td>{$vo.type}</td>
					<td class="f-14 td-manage">
						<a style="text-decoration:none" class="ml-5" onClick="case_del({$vo.extensionId})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
				{/volist}
				{volist name="medical_history_info.famillyDisease" id="vo" key="k"}
				<tr class="text-c">
					<td>{$vo.content}</td>
					<td>{$vo.type}</td>
					<td class="f-14 td-manage">
						<a style="text-decoration:none" class="ml-5" onClick="case_del({$vo.extensionId})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
				{/volist}
				{volist name="medical_history_info.medicalRecord" id="vo" key="k"}
				<tr class="text-c">
					<td>{$vo.content}</td>
					<td>{$vo.type}</td>
					<td class="f-14 td-manage">
						<a style="text-decoration:none" class="ml-5" onClick="case_del({$vo.extensionId})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
{include file="../application/admin/view/Public/_footer.html"/}
<script>
//删除病史
function case_del(case_id) {
	var id = case_id;
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('Admin/Patient/patient_history_extension_del')}",
			dataType: 'json',
			data:{extensionId:id},
			success: function(data){
				if (data.code == 1) {
					layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
						location.reload();
					})
				}else{
	                layer.msg(data.msg,{icon:1,time:1000});
				}
			}
		});		
	});
}

//添加病史
function patient_history_extension_add(title,url,w,h) {
	layer.open({
	  title:title,
	  type: 2,
	  area: [w, h],
	  fixed: false, //不固定
	  maxmin: false,
	  content: url
	});
}

</script>