{include file="../application/admin/view/Public/_header.html"/}
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>添加用户</title>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-patient-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="username" name="username">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" id="pass" name="pass">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" id="passConfirm" name="passConfirm">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="tel" class="input-text" value="" placeholder="" id="mobile" name="mobile">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="real_name" name="real_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="sex" type="radio" value="1" id="sex-1" checked>
					<label for="sex-1">男</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-2" value="2" name="sex">
					<label for="sex-2">女</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">身份证：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="card" name="card">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">病种类型：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select class="select" size="1" name="entity">
					<option value="" selected>请选择病种</option>
					<option value="1">高血压</option>
					<option value="2">糖尿病</option>
				</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">服务机构：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select class="select" size="1" name="city">
					<option value="" selected>请选择机构</option>
					<option value="16">健康源</option>
					<option value="23">微健康</option>
					<option value="35">限盐组</option>
				</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">医生：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select class="select" size="1" name="doctor">
					<option value="" selected>请选择医生</option>
					<option value="106">朱玉婷</option>
					<option value="202">徐医生</option>
				</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">医助：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select class="select" size="1" name="assistant_doctor">
					<option value="" selected>请选择医助</option>
					<option value="1052">肖莉</option>
					<option value="2956">谢晓燕</option>
				</select>
				</span> 
			</div>
		</div>

		<!--病例信息-->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">病例信息：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<dl class="permission-list">
					<dt>
						<label>伴随临床疾患</label>
					</dt>
					<dd>
						<label class="">
							<input name="diabetes" type="hidden" value="0">  
							<input name="diabetes" type="checkbox" value="1" id="diabetes">
							糖尿病</label>
						<label class="">
							<input name="cerebral_vascular_disease" type="hidden" value="0">  
							<input name="cerebral_vascular_disease" type="checkbox" value="1" id="cerebral_vascular_disease">
							脑血管病</label>
						<label class="">
							<input name="heart_disease" type="hidden" value="0">  
							<input name="heart_disease" type="checkbox" value="1" id="heart_disease">
							心脏疾病</label>
						<label class="">
							<input name="kidney_disease" type="hidden" value="0">  
							<input name="kidney_disease" type="checkbox" value="1" id="kidney_disease">
							肾脏疾病</label>
						<label class="">
							<input name="peripheral_angiopathy" type="hidden" value="0">  
							<input name="peripheral_angiopathy" type="checkbox" value="1" id="peripheral_angiopathy">
							周围血管病</label>
						<label class="">
							<input name="retinopathy" type="hidden" value="0">  
							<input name="retinopathy" type="checkbox" value="1" id="retinopathy">
							视网膜病变</label>
					</dd>
				</dl>

				<dl class="permission-list">
					<dt>
						<label>心血管危险因素</label>
					</dt>
					<dd>
						<label class="">
							<input name="smoke" type="hidden" value="0">  
							<input name="smoke" type="checkbox" value="1" id="smoke">
							吸烟
						</label>
						<label class="">
							<input name="blood_fat" type="hidden" value="0">  
							<input name="blood_fat" type="checkbox" value="1" id="blood_fat">
							血脂异常</label>
						<label class="">
							<input name="family_hypertension" type="hidden" value="0">  
							<input name="family_hypertension" type="checkbox" value="1" id="family_hypertension">
							早发心血管病家族史</label>
						<label class="">
							<input name="belly_obesity" type="hidden" value="0">  
							<input name="belly_obesity" type="checkbox" value="1" id="belly_obesity">
							腹型肥胖</label>
					</dd>
				</dl>

				<dl class="permission-list">
					<dt>
						<label>靶器官损害</label>
					</dt>
					<dd>
						<label class="">
							<input name="left_ventricular_hypertrophy" type="hidden" value="0">
							<input name="left_ventricular_hypertrophy" type="checkbox" value="1" id="left_ventricular_hypertrophy">
							左心室肥厚</label>
						<label class="">
							<input name="IMT" type="hidden" value="0">
							<input name="IMT" type="checkbox" value="1" id="IMT">
							颈动脉超声IMT>=0.9mm或动脉粥样硬化斑块</label>
						<label class="">
							<input name="PWV" type="hidden" value="0">
							<input name="PWV" type="checkbox" value="1" id="PWV">
							颈股动脉PWV>=12m/s</label>
						<label class="">
							<input name="ABI" type="hidden" value="0">
							<input name="ABI" type="checkbox" value="1" id="ABI">
							ABI<'0.9'</label>
						<label class="">
							<input name="eGFR" type="hidden" value="0">
							<input name="eGFR" type="checkbox" value="1" id="eGFR">
							eGFR异常</label>
						<label class="">
							<input name="albumin" type="hidden" value="0">
							<input name="albumin" type="checkbox" value="1" id="albumin">
							尿微量白蛋白30~300mg/24h或白蛋白/肌酐>=30mg/g</label>
					</dd>
			</div>
		</div>



		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>


{include file="../application/admin/view/Public/_footer.html"/}
<script type="text/javascript">
$(function(){
	// $(".permission-list dt input:checkbox").click(function(){
	// 	$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	// });
	// $(".permission-list2 dd input:checkbox").click(function(){
	// 	var l =$(this).parent().parent().find("input:checked").length;
	// 	var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
	// 	if($(this).prop("checked")){
	// 		$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
	// 		$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
	// 	}
	// 	else{
	// 		if(l==0){
	// 			$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
	// 		}
	// 		if(l2==0){
	// 			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
	// 		}
	// 	}
	// });


	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
		//表单验证
        $("#form-patient-add").validate({
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    dataType:'json',
                    type:'post',
                    success:function (res) {
                        if (res.status == 1){
                            var icon_n = '1';
                        }else {
                            var icon_n = '2';
                        }
                        if (icon_n == 1) {
							layer.msg(res.msg,{icon:icon_n,time:1000},function () {
								alert('1');
	                            // parent.location.reload();
	                            // layer_close();
	                        });
                        }else{
                        	layer.msg(res.msg,{icon:icon_n,time:1000},function () {
								alert('2');
	                           // parent.location.reload();
	                           // layer_close();
	                        });
                        }
                        
                    }
                });
            }
        });
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>