{include file="../application/admin/view/Public/_header.html"/}
<div class="page-container">
	<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive" >
		<tbody>
			<tr class="text-l">
				<td><span>其他疾病史与治疗史:</span>
					<span id="data1">
						{volist name="info" id="vo" key="k"}
							{$vo}<a style='text-decoration:none' class='ml-5' onClick='case_del({$k})' href='javascript:;' title='删除'><i class='Hui-iconfont'>&#xe609;</i>
						{/volist}
					</span>
					<input style="width: 20%;" type="text" class="input-text" value="{$Info.case_name}" placeholder=""  data='1'>
				</td>
				<td><span>吸烟饮酒史:</span>
					<span id="data2"></span>
					<input style="width: 20%;" type="text" class="input-text" value="{$Info.case_name}" placeholder=""  data='2'>
				</td>
				<td><span>过敏史:</span>
					<span id="data3"></span>
					<input style="width: 20%;" type="text" class="input-text" value="{$Info.case_name}" placeholder=""  data='3'>
				</td>
				<td><span>家族遗传病史:</span>
					<span id="data4"></span>
					<input style="width: 20%;" type="text" class="input-text" value="{$Info.case_name}" placeholder=""  data='4'>
				</td>
				<td><span>服用药物:</span>
					<span id="data5"></span>
					<input style="width: 20%;" type="text" class="input-text" value="{$Info.case_name}" placeholder=""  data='5'>
				</td>
			</tr>
		</tbody>
	</table>
</div>
{include file="../application/admin/view/Public/_footer.html"/}
<script>
$(document).keyup(function(event){
  if(event.keyCode ==13){
  	var case_name = $('input:focus').val();
  	var case_data = $('input:focus').attr('data');
  	$.ajax({
        url:"{:url('Admin/patient/patient_case_add')}",
        type:'post',
        dataType:'json',
        data:{case_name:case_name,case_data:case_data,id:{$id}},
        success:function(data){
            if(data.code==1){
   				$('#data'+case_data).append(case_name+"<a style='text-decoration:none' class='ml-5' onClick='case_del("+data.case_id+")'' href='javascript:;' title='删除'><i class='Hui-iconfont'>&#xe609;</i>");return;
            }else{
                layer.msg(data.msg);
            }
        }
    });
  }
});

//删除病史
function case_del(case_id) {
	var id = {$id};
	console.log(case_id,id);
}
</script>