{include file="../application/admin/view/Public/_header.html"/}
<form action="" method="post" class="form form-horizontal" id="form-patient-add">
	<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive" >
		<tbody>
			<tr class="text-l">
				<td><span>姓名:</span>黄晓燕</td>
				<td><span>时间:</span>2018-04-02 00:00:00</td>
				<td><span>血糖:</span><input type="text" class="input-text" value="{$sugar_info}" placeholder="" id="sugar_info" name="sugar_info"></td>
			</tr>
		</tbody>
	</table>
</form>
{include file="../application/admin/view/Public/_footer.html"/}