<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>银河浏览</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="__PUBLIC__/css/demo.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/templatemo-style.css">
  
  <script type="text/javascript" src="__PUBLIC__/js/modernizr.custom.86080.js"></script>
		
</head>