{include file="../application/admin/view/Public/_header.html"/}
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 我的桌面 
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<h3>今日测量血压患者:</h3>
<table class="table table-border table-bordered table-hover" style="width: 50%; margin-left:25%">
   	<thead>
    	<tr>
    		<th>姓名</th>
    		<th>联系电话</th>
    		<th>性别</th>
    		<th>年龄</th>
    		<th>设备操作</th>
    		<th>服务包剩余时间</th>
    		<th>组别</th>
    		<th>操作</th>
    	</tr>
  	</thead>
  	<tbody>
	    <tr class="active">
	    	<th>张三</th>
	    	<th>15123365599</th>
	    	<th>男</th>
	    	<th>69</th>
	    	<th>566689945:血压计</th>
	    	<th>10天</th>
	    	<th>健康源</th>
	    	<th>删除</th>
	    </tr>
	    <tr class="success">
	    	<th>张三</th>
	    	<th>15123365599</th>
	    	<th>男</th>
	    	<th>69</th>
	    	<th>566689945:血压计</th>
	    	<th>10天</th>
	    	<th>健康源</th>
	    	<th>删除</th>
	    </tr>
	    <tr class="warning">
	    	<th>张三</th>
	    	<th>15123365599</th>
	    	<th>男</th>
	    	<th>69</th>
	    	<th>566689945:血压计</th>
	    	<th>10天</th>
	    	<th>健康源</th>
	    	<th>删除</th>
	    </tr>
	    <tr class="danger">
	    	<th>张三</th>
	    	<th>15123365599</th>
	    	<th>男</th>
	    	<th>69</th>
	    	<th>566689945:血压计</th>
	    	<th>10天</th>
	    	<th>健康源</th>
	    	<th>删除</th>
	    </tr>
	    <tr>
	    	<th></th>
	    	<th></th>
	    	<th></th>
	    	<th></th>
	    	<th></th>
	    	<th></th>
	    	<th></th>
			<th><a href="#">更多</a></th>
	    </tr>
  	</tbody>
</table>

<h3>今日预警:</h3>
<table class="table table-border table-bordered table-hover" style="width: 50%;margin-left:25%">
   	<thead>
    	<tr>
    		<th width="20%">血压</th>
    		<th>时间</th>
    	</tr>
  	</thead>
  	<tbody>
	    <tr class="active">
	    	<th>.active</th><td>6:00</td>
	    </tr>
	    <tr class="success">
	    	<th>.success</th><td>7:00</td>
	    </tr>
	    <tr class="warning">
	    	<th>.warning</th><td>8:00</td>
	    </tr>
	    <tr class="danger">
	    	<th>.danger</th><td>9:00</td>
	    </tr>
  	</tbody>
</table>

<h3>昨日新增患者:</h3>
<table class="table table-border table-bordered table-hover" style="width: 50%;margin-left:25%">
   	<thead>
    	<tr>
    		<th width="20%">血压</th>
    		<th>时间</th>
    	</tr>
  	</thead>
  	<tbody>
	    <tr class="active">
	    	<th>.active</th><td>6:00</td>
	    </tr>
	    <tr class="success">
	    	<th>.success</th><td>7:00</td>
	    </tr>
	    <tr class="warning">
	    	<th>.warning</th><td>8:00</td>
	    </tr>
	    <tr class="danger">
	    	<th>.danger</th><td>9:00</td>
	    </tr>
  	</tbody>
</table>

<h3>昨日订单:</h3>
<table class="table table-border table-bordered table-hover" style="width: 50%;margin-left:25%">
   	<thead>
    	<tr>
    		<th width="20%">血压</th>
    		<th>时间</th>
    	</tr>
  	</thead>
  	<tbody>
	    <tr class="active">
	    	<th>.active</th><td>6:00</td>
	    </tr>
	    <tr class="success">
	    	<th>.success</th><td>7:00</td>
	    </tr>
	    <tr class="warning">
	    	<th>.warning</th><td>8:00</td>
	    </tr>
	    <tr class="danger">
	    	<th>.danger</th><td>9:00</td>
	    </tr>
  	</tbody>
</table>

{include file="../application/admin/view/Public/_footer.html"/}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
</script> 
</body>
</html>