{include file="../application/admin/view/Public/_header.html"/}
</head>
<body>
<nav class="breadcrumb">
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<button onclick="patient_add()" class="btn btn-success-outline radius">新增患者</button>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th>姓名</th>
					<th>联系电话</th>
					<th>性别</th>
					<th>年龄</th>
					<th>设备操作</th>
					<th>服务包剩余时间</th>
					<th>组别</th>
					<th>标记星级</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="info" id="vo"}
				<tr class="text-c">
					<td class="text-l"><u style="cursor:pointer" class="text-primary" onClick="patient_edit('{$vo.name}','{:url('admin/Patient/details',array('id' => $vo['id']))}')" title={$vo.name}>{$vo.name}</u></td>
					<td>{$vo.phoneNum}</td>
					<td>{$vo.sexy}</td>
					<td>{$vo.age}</td>
					<td>
					{if condition="$vo.equipments.0.number neq ''"}

					<u style="cursor:pointer" onClick="bangding('{:url('Admin/Device/bangding',array('id'=>$vo['id']))}')">
						{$vo.equipments.0.number}({$vo.equipments.0.port}):
						{switch name="$vo.equipments.0.type" }
						    {case value="1"}血压计{/case}
						    {case value="2"}血糖仪{/case}
						{/switch}
					</u>
						<br>
						<u style="cursor:pointer" onClick="bangding('{:url('Admin/Device/bangding',array('id'=>$vo['id']))}')">
						{if condition="$vo.equipments.1.number neq ''"}
							{$vo.equipments.1.number}({$vo.equipments.1.port}):{$vo.equipments.1.type}
						{/if}
						</u>
						{else /}
						<u style="cursor:pointer" onClick="bangding('{:url('Admin/Device/bangding',array('id'=>$vo['id']))}')">尚未绑定设备</u>
					{/if}
					</td>
					<td><u style="cursor:pointer" class="text-primary" onClick="product_list('服务包','{:url('Admin/Product/product_list',array('id' => $vo['id']))}','500px','600px')" title="服务包">{if condition="$vo['leftDays'] eq ''"}已过期{else/}{$vo.leftDays}天{/if}</u></td>
					<td class="td-status" onClick="group_set('{:url('Admin/patient/group_set',array('id' => $vo['id']))}')">
						<a class="label label-success radius">{$vo.groupName}{if condition="$vo['doctorName'] neq ''"}-{$vo.doctorName}{/if}{if condition="$vo['assistantName'] neq ''"}-{$vo.assistantName}{/if}</a>
					</td>
					{if condition="$vo['isStar'] == 2"}
					<td onclick="star_set({$vo.id})">
						<img src="__PUBLIC__/images/star.png" alt="">
					</td>
					{else/}
					<td onclick="star_cancel({$vo.id})">
						<img src="__PUBLIC__/images/star1.png" alt="">
					</td>
					{/if}
					<td class="f-14 td-manage">
						<a style="text-decoration:none" class="ml-5" onClick="patient_del({$vo.id})" href="javascript:;" title="删除">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>

{include file="../application/admin/view/Public/_footer.html"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
});

//设置分组
function group_set(url) {
	layer.open({
        type: 2,
      	title: '设置分组',
      	shadeClose: true,
      	shade: false,
      	area: ['893px', '500px'],
      	content: url
    });
}

// 标识星级
function star_set(id){
	layer.confirm('确认要设置为星级用户吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('Admin/Patient/star_set')}",
			dataType: 'json',
			data:{id:id},
			success: function(data){
				if (data.code == 1) {
					layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
						location.reload();
					})
				}else{
					layer.msg('设置失败');
				}
			}
		});		
	});
}

// 标识星级
function star_cancel(id){
	layer.confirm('确认要取消此星级用户吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('Admin/Patient/star_cancel')}",
			dataType: 'json',
			data:{id:id},
			success: function(data){
				if (data.code == 1) {
					layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
						location.reload();
					})
				}else{
					layer.msg('取消失败');
				}
			}
		});		
	});
}

/*患者-编辑*/
function patient_edit(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content:url,
		area: ['893px', '500px'],
	});
	layer.full(index);
}

/*设备操作*/
function bangding(url){
	layer.open({
	  type: 2,
	  area: ['800px', '450px'],
	  fixed: false, //不固定
	  content: url
	});
}

/*服务包列表*/
function product_list(title,url,id,w,h){
	layer.open({
        type: 2,
      	title: title,
      	shadeClose: true,
      	shade: false,
      	area: ['893px', '500px'],
      	content: [url,'no']
    });
}

/*患者-删除*/
function patient_del(id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('Admin/Patient/patient_del')}",
			dataType: 'json',
			data:{id:id},
			success: function(data){
				if (data.code == 1) {
					layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
						location.reload();
					})
				}else{
					layer.msg(data.msg)
				}
			}
		});		
	});
}

function patient_add() {
	var index = layer.open({
		type: 2,
		title: '新增患者',
		content: "{:url('Admin/Patient/patient_add')}",
		area: ['750px', '500px'],
	});
}

</script> 
</body>
</html>