{include file="../application/index/view/Public/header.html"}
<div class="hui-wrap">
    <div class="hui-center-title" style="margin-top:22px;"><h1>服务包列表</h1></div>
    <div class="hui-media-list" style="padding:10px;">
        <ul>
        	{volist name="list" id="vo"}
            <li>
                <a href="javascript:hui.open('/public/index/Product/product_info?id={$vo.id}');">
                    <div class="hui-media-list-img"><img src={$vo.goodUrl} /></div>
                    <div class="hui-media-content">
                        <h1>{$vo.goodName}</h1>
                        <p>{$vo.goodDescription}</p>
                    </div>
                </a>
            </li>
            {/volist}
        </ul>
    </div>
</div>
{include file="../application/index/view/Public/footer.html"}
