{include file="../application/admin/view/Public/_header.html"/}
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 预警管理 <span class="c-gray en">&gt;</span> 预警列表 
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-success radius">批量处理</a></span></div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-responsive table-sort">
			<thead>
				<tr class="text-c">
					<th><input type="checkbox" name="" value=""></th>
					<th>姓名</th>
					<th>电话</th>
					<th>血压</th>
					<th>预警等级</th>
					<th>时间</th>
					<th>预警信息</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="list" id="vo" key="k"}
				<tr class="text-c">
					<td><input type="checkbox" value={$vo.id} name="id"></td>
					<td><u style="cursor:pointer" class="text-primary" onClick="patient_edit({$vo.name},'{:url('Admin/Patient/details',array('id' => $vo['patientId']))}')">{$vo.name}</u></td>
					<td id="phoneNum{$vo.id}">{$vo.phoneNum}</td>
					<td>{$vo.systolicBloodPressure}/{$vo.diastolicBloodPressure}</td>
					<td>{$vo.warnLevel}</td>
					<td>{$vo.createTime}</td>
					<td>{$vo.warnInfo}</td>
					<td class="f-14 td-manage">
						<a style="text-decoration:none" class="ml-5" onClick="send_sms({$vo.id})" href="javascript:;" title="短信通知"><i class="Hui-iconfont">&#xe6c5;</i></a>
						<a style="text-decoration:none" class="ml-5" onClick="sign_warning(this,{$vo.id})" href="javascript:;" title="标记处理"><i class="Hui-iconfont">&#xe6e1;</i></a>
						<a style="text-decoration:none" class="ml-5" onClick="value_log('今日预警数据','{:url('Admin/Warning/value_log',array('id' => {$vo.id}))}')" href="javascript:;" title="今日预警数据"><i class="Hui-iconfont">&#xe618;</i></a>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>

{include file="../application/admin/view/Public/_footer.html"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0]}// 不参与排序的列
	]
});

/*患者-编辑*/
function patient_edit(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content:url,
		area: ['893px', '600px'],
	});
	layer.full(index);
}

// 发送短信
function send_sms(id) {
	var phoneNum = $("#phoneNum"+12).text();
	layer.prompt({title: '发送短信', formType: 2}, function(text, index){
	  	$.ajax({
			type: 'POST',
			url: "{:url('Admin/Warning/send_sms')}",
			data:{message:text,phoneNum:phoneNum},
			dataType: 'json',
			success: function(data){
				if (data.code == 1) {
					layer.msg('发送成功,请稍等...',{icon:1,time:500},function() {
						layer.close(index);
					})
				}else{
					layer.msg(data.msg,{icon:2,time:1000})
				}
			},
		});
	});
}

//标记处理
function sign_warning(obj,id) {
	var ids=new Array();
	ids[0]=id;
	layer.confirm('确认处理吗?', {
	  btn: ['确认','取消'] //按钮
	}, function(){
	  $.ajax({
			type: 'POST',
			url: "{:url('Admin/Warning/sign_warning')}",
			data:{ids:ids},
			dataType: 'json',
			success: function(data){
				if (data.code == 1) {
					layer.msg('操作成功,请稍等...',{icon:1,time:500},function() {
						$(obj).parents("tr").remove();
						// location.reload();
					})
				}else{
					layer.msg(data.msg,{icon:2,time:1000})
				}
			},
		});	
	}, function(){
	});
}

//今日预警记录
function value_log(title,url) {
	layer.open({
	  type: 2,
	  area: ['800px', '450px'],
	  fixed: false, //不固定
	  maxmin: true,
	  content: url
	});
}

//批量删除
function datadel() {
    var checkedbox = $("input[name^='id']:checked");
    var ids = new Array();
    checkedbox.each(function(){
        ids.push(this.value);
    });
    layer.confirm('确认批量处理多条预警吗?',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('Admin/Warning/sign_warning')}",
			data:{ids:ids},
			dataType: 'json',
			success: function(data){
				if (data.code == 1) {
					layer.msg('已处理'+data.len+'条预警',{icon:1,time:500},function() {
						location.reload();
					});
				}else{
					layer.msg(data.msg,{icon:2,time:1000});
				}
			},
		});		
	});
}


</script> 
</body>
</html>