{include file="../application/admin/view/Public/_header.html"/}
<div class="clearfix" style="border:1px #ccc solid; border-top:opx; border-bottom:0px;">
	<!-- <form method="get" action="" class="text-c">
		<input type="text" placeholder="请输入设备编号" class="input-text ac_input" name="search_text" value="" id="search_text" autocomplete="off" style="width:300px"><button type="button" class="btn btn-default" id="search_device">搜索</button>
	</form> -->
	<div class="page-container">
		<div class="mt-3">
			<table class="table table-border table-bordered table-hover table-sort">
				<thead>
					<tr>
						<th>时间</th>
						<th>收缩压</th>
						<th>舒张压</th>
						<th>心率</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2018-06-22 06:33:36</td>
						<td>160</td>
						<td>74</td>
						<td>61</td>
					</tr>
					<tr>
						<td>2018-06-22 06:35:46</td>
						<td>162</td>
						<td>74</td>
						<td>59</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{include file="../application/admin/view/Public/_footer.html"/}
<script>
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  //{"orderable":false,"aTargets":[0,3]}// 不参与排序的列
	]
});
</script>