{include file="../application/index/view/Public/header.html"/}
<div class="hui-wrap">
    <div style="padding:10px;">
        <div class="hui-swipe" id="swipe">
            <div class="hui-swipe-items">
                <div class="hui-swipe-item"><img src="__PUBLIC__/mobile/img/100.jpg"/></div>
                <div class="hui-swipe-item"><img src="__PUBLIC__/mobile/img/200.jpg"/></div>
            </div>
        </div>
    </div>
</div>

<div class="hui-wrap">
    <style type="text/css">
    .bgGreen{background:#1BC5BB !important;}
    .bgRed{background:#EE4B47 !important;}
    .demo{width:100%; height:80px; text-align:center; color:#FFF; line-height:80px; font-size:10px; margin:5px; background:#3388FF;}
    </style>
    <div class="hui-flex">
        <div class="demo">徐闻洁</div>
        <div class="demo bgGreen">服务包</div>
        <div class="demo bgRed">积分</div>
    </div>
    <style type="text/css">
    .demo2{height:80px; text-align:center; color:#FFF; line-height:80px; font-size:22px; margin:5px; background:#3388FF;}
    </style>
    <div>
        <div class="demo2">血压数据</div>
        <div class="demo2 bgGreen">血糖数据</div>
    </div>
</div>
</body>
</html>
{include file="../application/index/view/Public/footer.html"}
<script src="__PUBLIC__/mobile/hui/js/hui-swipe.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
var swipe = new huiSwpie('#swipe');
swipe.autoPlay = false;
swipe.run();
</script>