{include file="../application/index/view/Public/header.html"}

<div class="hui-wrap">
    <div class="hui-center-title" style="margin-top:35px;"><h1 style="border:0px;">登陆</h1></div>
    <div style="margin:20px 10px; margin-bottom:15px;" class="hui-form" id="form1">
        <div class="hui-form-items">
            <div class="hui-form-items-title">用户名</div>
            <input type="text" class="hui-input hui-input-clear" placeholder="" checkType="string" id="userName"/>
        </div>
        <div class="hui-form-items">
            <div class="hui-form-items-title">登录密码</div>
            <input type="password" class="hui-input hui-pwd-eye" placeholder="" checkType="string" id="password"/>
        </div>
    </div>
    <div style="padding:10px; padding-top:10px;">
        <button type="button" class="hui-button hui-button-large hui-primary" id="submit">登陆</button>
    </div>
</div>


<a href="javascript:hui.open('/public/index/Index/register');">立即注册</a>
{include file="../application/index/view/Public/footer.html"}
<script type="text/javascript" src="__PUBLIC__/mobile/hui/js/hui-form.js" charset="utf-8"></script>
<script type="text/javascript">
hui('#submit').click(function(){
    //验证
    var res = huiFormCheck('#form1');
    //提交
    if(res){
    	var userName = $("#userName").val();
    	var password = $("#password").val();
    	$.ajax({
    		type:"POST",
    		dataType:"json",
    		data:{userName:userName,password:password},
    		success:function(res){
    			if (res.code == 1) {
    				hui.upToast('登陆成功,请稍后..');
    				window.location.reload();
    			}else{
    				hui.iconToast(res.msg);
    			}
    		}
    	});
    }
});
</script>