{include file="../application/index/view/Public/header.html"}
<div class="hui-wrap">
    <div class="hui-list" style="background:#FFFFFF; margin-top:28px;">
        <a href="javascript:hui.toast('msg!');" style="height:auto; height:80px; padding-bottom:8px;">
            <div class="hui-list-icons" style="width:110px; height:80px;">
                <img src="__PUBLIC__/images/1517275559.jpg" style="width:66px; margin:0px; border-radius:50%;" />
            </div>
            <div class="hui-list-text" style="height:79px; line-height:79px;">
                <div class="hui-list-text-content">
                    徐闻洁
                </div>
                <div class="hui-list-info">
                    <span class="hui-icons hui-icons-right"></span>
                </div>
            </div>
        </a>
        <a href="javascript:hui.toast('msg!');">
            <div class="hui-list-text">
                设备 : A95623399542(A) | 积分 : 2000
            </div>
        </a>
    </div>
    <div class="hui-list" style="background:#FFFFFF; margin-top:28px;">
        <ul>
            <li>
                <a href="javascript:void(0);">
                    <div class="hui-list-icons">
                        <img src="__PUBLIC__/images/drug.png" />
                    </div>
                    <div class="hui-list-text">
                        用药记录
                        <div class="hui-list-info">
                            <span class="hui-icons hui-icons-right"></span>
                        </div>
                    </div>
                </a>
               </li>
            <li>
                <a href="javascript:void(0);">
                    <div class="hui-list-icons">
                        <img src="__PUBLIC__/images/message.png" />
                    </div>
                    <div class="hui-list-text">
                        我的留言
                        <div class="hui-list-info">
                            <span class="hui-icons hui-icons-right"></span>
                        </div>
                    </div>
                </a>
               </li>
               <li>
                <a href="javascript:void(0);">
                    <div class="hui-list-icons">
                        <img src="__PUBLIC__/images/data.png" />
                    </div>
                    <div class="hui-list-text">
                        我的数据
                        <div class="hui-list-info">
                            <span class="hui-icons hui-icons-right"></span>
                        </div>
                    </div>
                </a>
               </li>
               <li>
                <a href="javascript:void(0);">
                    <div class="hui-list-icons">
                        <img src="__PUBLIC__/images/service.png" />
                    </div>
                    <div class="hui-list-text">
                        我的服务包
                        <div class="hui-list-info">
                            <span class="hui-icons hui-icons-right"></span>
                        </div>
                    </div>
                </a>
               </li>
        </ul>
    </div>
    <div style="background:#FFFFFF; margin-top:28px;">
        <button type="button" class="hui-button hui-button-large" onclick="hui.toast('退出');">
            <span class="hui-icons hui-icons-logoff"></span>退出登陆
           </button>
    </div>
</div>
{include file="../application/index/view/Public/footer.html"}