{include file="../application/admin/view/Public/_header.html"/}
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style>
#head{
margin-left:0;
}
#foot{
width:100%;
background:#0099CC;
border-top:1px solid #f00;
}
</style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 分级管理 <span class="c-gray en">&gt;</span> 分级列表
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
{if condition="$usertype eq 1"}
<div id="head">
	<button onClick="unit_add('新增机构','{:url('Admin/Jurisdiction/unit_add')}')" class="btn btn-success-outline radius">新增机构</button>
</div>
<div class="page-container">
		<ul class="cl portfolio-area">
			<li class="item">
				<div class="portfoliobox" onclick="jg('12')" id="12">
					<div class="picbox"><img src="__PUBLIC__/images/1517275559.jpg"></div>
					<div class="textbox">健康源</div>
				</div>
			</li>
			<li class="item">
				<div class="portfoliobox"  onclick="jg('11')" id="11">
					<div class="picbox "><img src="__PUBLIC__/images/1521601030.jpg"></div>
					<div class="textbox">微健康</div>
				</div>
			</li>
		</ul>
</div>
<!-- <div class="page-container" style="width: 20%; float: left; cursor:pointer;">
	<table onclick="jg('12')" id="12" border="1" cellspacing="0"  class="leve-table table" data-id='' style="background-color:#C0C0C0">
		<tr>
			<td rowspan="2" id="leve-ta" >
				<img style="width: 50px; height: 50px;" class="tou-img" src="http://www.healths2017.com" onerror="this.src='__PUBLIC__/images/1517275559.jpg'">
			</td>
			<td class="leve-tb yd">
				<p>机构1</p>
			</td>
		</tr>
		<tr>
			<td class="leve-tb xd">
				<p>asdasd</p>
			</td>
		</tr>
	</table>
</div>
<div class="page-container" style="width: 20%;float: left; cursor:pointer;">
	<table onclick="jg('11')" id="11" border="1" cellspacing="0"  class="leve-table table" data-id=''>
		<tr>
			<td rowspan="2" id="leve-ta"><img class="tou-img" style="width: 50px; height: 50px;" src="http://www.healths2017.com" onerror="this.src='__PUBLIC__/images/1521601030.jpg'">
			</td>
			<td class="leve-tb yd"><p>机构2</p></td>
		</tr>
		<tr>
			<td class="leve-tb xd"><p>asdasd</p></td>
		</tr>
	</table>
</div> -->
{/if}

<div id="content">
	<div class="page-container" id="aa">
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
				{if condition="($usertype eq 1) OR ($usertype eq 2)"}
				<thead>
					<tr>
						<th style="width: 10%">医生列表</th>
						<th><button onClick="doctor_add('新增医生','{:url('Admin/Jurisdiction/unit_add',array('g_id' => 125))}')" class="btn btn-success-outline radius">新增医生</button></th>
					</tr>
				</thead>
				{/if}
				<thead>
					<tr class="text-c">
						<th>姓名</th>
						<th>头像</th>
						<th>联系电话</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="list">
					<tr class="text-c">
						<td>默认医生</td>
						<td><img src="__PUBLIC__/images/1517275559.jpg" alt="" style="width: 50px;height: 50px;"></td>
						<td>18623525288</td>
						<td>编辑</td>
					</tr>
					<tr class="text-c">
						<td>默认医生2</td>
						<td><img src="__PUBLIC__/images/1521601030.jpg" alt="" style="width: 50px;height: 50px;"></td>
						<td>17769562269</td>
						<td>编辑</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="page-container" id="yz">
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
				{if condition="($usertype eq 1) OR ($usertype eq 2)"}
				<thead>
					<tr>
						<th style="width: 10%">医助列表</th>
						<th><button onclick="assistant_doctor_add()" class="btn btn-success-outline radius">新增医助</button></th>
					</tr>
				</thead>
				{/if}
				<thead>
					<tr class="text-c">
						<th>姓名</th>
						<th>头像</th>
						<th>联系电话</th>
						<th>性别</th>
						<th>个人简介</th>
						<th>患者</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="list_yz">
					<tr class="text-c">
						<td>默认医助</td>
						<td><img src="__PUBLIC__/images/1517275559.jpg" alt="" style="width: 50px;height: 50px;"></td>
						<td>15683302556</td>
						<td>女</td>
						<td>默认显示</td>
						<td>10</td>
						<td>操作</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<input type="hidden" value={$id} name="id">
	<input type="hidden" value="" id="jg_id" name="jg_id">
	<input type="hidden" value="1" name="submit_set">
</div>
{include file="../application/admin/view/Public/_footer.html"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$(function(){
	$(".portfolio-area li").Huihover();
});
//表单验证
$("#form-group-set").validate({
    onkeyup:false,
    focusCleanup:true,
    success:"valid",
    submitHandler:function(form){
        $(form).ajaxSubmit({
            dataType:'json',
            type:'post',
            success:function (data) {
                if (data.code == 1){
                    layer.msg('操作成功,请稍等...',{icon:1,time:1000},function() {
						parent.location.reload();
					})
                }else {
                    layer.msg('设置失败');
                }
                
                
            }
        });
    }
});



function jg(id) {
	$('div').css({'background-color':''});
	$('#'+id).css({'background-color':'#C0C0C0'});
	$('#jg_id').val(id);
	$.ajax({
		type: 'POST',
		url: "{:url('Admin/patient/jg_fj')}",
		dataType: 'json',
		data:{p_id:id,type:'1'},
		success: function(data){
			if (data.code == 1) {
				$("#list").replaceWith(function(){
                    return data.html;
                });
                $("#list_yz").replaceWith(function(){
                    return data.html_yz;
                });
			}else{
				layer.msg('设置失败');
			}
		}
	});
}

//新增机构
	function unit_add(title,url) {
		layer.open({
			title:title,
			type: 2,
			area: ['600px', '600px'],
			fixed: false, //不固定
			maxmin: true,
			content: url
		});
	}

//新增医生
	function doctor_add(title,url) {
		var jg_id = $('#jg_id').val();
		layer.open({
			title:title,
			type: 2,
			area: ['600px', '600px'],
			fixed: false, //不固定
			maxmin: true,
			content: '/public/Admin/jurisdiction/unit_add?g_id='+jg_id+'&type=1'
		});
	}

//新增医助
	function assistant_doctor_add() {
		var jg_id = $('#jg_id').val();
		layer.open({
			title:'新增医助',
			type: 2,
			area: ['600px', '600px'],
			fixed: false, //不固定
			maxmin: true,
			content: '/public/Admin/jurisdiction/unit_add?g_id='+jg_id+'&type=2'
		});
	}

//编辑医生
	function doctor_edit(id) {
		// body...
	}

//编辑医助
	function assistant_doctor_edit(id) {
		var jg_id = $('#jg_id').val();
		layer.open({
			title:'编辑医助',
			type: 2,
			area: ['600px', '600px'],
			fixed: false, //不固定
			maxmin: true,
			content: '/public/Admin/jurisdiction/assistant_doctor_edit?assistant_doctor_id='+id+'&type=1&g_id='+jg_id
		});
	}
//删除医生
	function doctor_del(id) {
		// body...
	}

//删除医助
	function assistant_doctor_del(id) {
		alert(id);
	}


</script> 
</body>
</html>