{include file="../application/admin/view/Public/_header.html"/}
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-unit-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>头像：</label>
			<div class="formControls col-xs-8 col-sm-9" id="preview">
				<img id="imghead" title="点击上传图片" style="cursor:pointer" border="0" src="__PUBLIC__/images/1517275559.jpg" width="90" height="90" onClick="$('#previewImg').click();">
			</div>  
			<input type="file" style="display: none;" id="previewImg" name="file">
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.username}" placeholder="" id="username" name="username">
			</div>
		</div>
		{if condition="$jg eq 1"}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>机构名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.name}" placeholder="" id="name" name="name">
			</div>
		</div>
		{/if}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>昵称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.nickName}" placeholder="" id="nickName" name="username">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" id="pass" name="passWord">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" id="passConfirm" name="passConfirm">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="tel" class="input-text" value="{$info.phoneNum}" placeholder="" id="phoneNum" name="phoneNum">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.address}" placeholder="" id="address" name="address">
			</div>
		</div>
		{if condition="$type neq ''"}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.real_name}" placeholder="" id="real_name" name="real_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="sex" type="radio" value="1" id="sex-1" checked>
					<label for="sex-1">男</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-2" value="2" name="sex">
					<label for="sex-2">女</label>
				</div>
			</div>
		</div>
		{if condition="$type eq 1"}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">专科：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.profession}" placeholder="" id="profession" name="profession">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">毕业学校：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.school}" placeholder="" id="school" name="school">
			</div>
		</div>
		{/if}

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">简介：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="introduction" id="introduction" cols="" rows="" class="textarea" placeholder="简介..最少5个字" datatype="*10-100" dragonfly="true" nullmsg="简介不能为空！" onkeyup="$.Huitextarealength(this,200)">{$info.introduction}</textarea>
            </div>
        </div>

		<!-- <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">简介：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.introduction}" placeholder="" id="introduction" name="introduction">
			</div>
		</div> -->
		<input type="hidden" id="type" value={$type}>
		<input type="hidden" id="g_id" value={$g_id}>
		<input type="hidden" id="assistant_doctor_id" value={$assistant_doctor_id}>			
		{/if}
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>


{include file="../application/admin/view/Public/_footer.html"/}
<script type="text/javascript">
$(".textarea").Huitextarealength({
    minlength:10,
    maxlength:100
});

$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	//表单验证
    $("#form-unit-add").validate({
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            $(form).ajaxSubmit({
                dataType:'json',
                type:'post',
                success:function (res) {
                    if (res.code == 1){
                        layer.msg('操作成功,请稍等...',{icon:1,time:1000},function() {
                            parent.location.reload();
                        })
                    }else {
                        layer.msg(res.msg,{icon:2,time:1000},function() {
                            location.reload();
                        })
                    }
                }
            });
        }
    });
});


</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>