{include file="../application/admin/view/Public/_header.html"/}
	<div class="page-container">
		<div class="mt-3">
			<table class="table table-border table-bordered table-hover table-sort">
				<thead>
					<tr>
						<th>积分变化</th>
						<th>剩余积分</th>
						<th>备注</th>
						<th>时间</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>10</td>
						<td>90</td>
						<td>兑换鸡蛋</td>
						<td>2018-06-22 15:25:23</td>
					</tr>
					<tr>
						<td>20</td>
						<td>10</td>
						<td>兑换电脑</td>
						<td>2018-06-25 18:00:22</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

{include file="../application/admin/view/Public/_footer.html"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  //{"orderable":false,"aTargets":[0,6]}// 不参与排序的列
	]
});




</script> 
</body>
</html>