{include file="../application/admin/view/Public/_header.html"/}

<link href="__STATIC__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
<div class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-product-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品名称:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$goodInfo.goodName}" placeholder="" id="" name="goodName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品副标题:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$goodInfo.goodSubName}" placeholder="" id="" name="goodSubName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品类型:</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="goodType" type="radio" value="1" id="goodType-1" {if condition="$goodInfo['goodType'] eq 1"} checked {/if}>
                    <label for="goodType-1">服务包</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="goodType-2" value="2" name="goodType" {if condition="$goodInfo['goodType'] eq 2"} checked {/if}>
                    <label for="goodType-2">实物商品</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea class="textarea valid" placeholder="简单的介绍产品...最少输入10个字符" name="goodDescription" aria-required="true" aria-invalid="false"></textarea>
                <!-- <textarea name="goodDescription" cols="" rows="" class="textarea" placeholder="简单的介绍产品..最少10个字" datatype="*10-100" dragonfly="true" nullmsg="产品描述不能为空！" onkeyup="$.Huitextarealength(this,200)">{$goodInfo.goodDescription}</textarea> -->
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品状态:</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="status" type="radio" value="1" id="status-1" {if condition="$goodInfo['status'] eq 1"} checked {/if}>
                    <label for="status-1">上架</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="status-2" value="2" name="status" {if condition="$goodInfo['status'] eq 2"} checked {/if}>
                    <label for="status-2">下架</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上传商品图片：</label>
            <script type="text/plain" id="j_ueditorupload" style="height:5px;display:none;" ></script>
            <div class="formControls col-xs-8 col-sm-9"> 
                <span style="width: 50px;height: 50px;" id="imgshow">
                    {if condition="$goodInfo['goodUrl'] neq ''"}
                        <img style='width:50px;height:50px;' src={$goodInfo.goodUrl}>
                    {/if}
                </span>
                <button type="button" onClick="upImage()" id="imgup">上传图片</button>
            </div>
            <input type="hidden" name="goodUrl" id="goodUrl" value=''>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品价格：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" name="price" min="0" id="price" value="{$goodInfo.price}" class="input-text" style="width:90%">
                元</div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>折扣：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" name="discount" min="0" max="9.9" id="discount" value="{$goodInfo.discount}" class="input-text" style="width:90%">
                折</div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="remark" cols="" rows="" class="textarea" placeholder="商品备注" datatype="*10-100" dragonfly="true" nullmsg="商品备注不能为空！" onkeyup="$.Huitextarealength(this,200)">{$goodInfo.remark}</textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>

{include file="../application/admin/view/Public/_footer.html"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
$(".textarea").Huitextarealength({
    minlength:10,
    maxlength:144
});

    //实例化编辑器
    var o_ueditorupload = UE.getEditor('j_ueditorupload',
    {autoHeightEnabled:false});
    o_ueditorupload.ready(function ()
    {o_ueditorupload.hide();//隐藏编辑器
    //监听图片上传
    o_ueditorupload.addListener('beforeInsertImage', function (t,arg)
    {
        var length = arg.length;
        var goodImgUrl = '';
        var imgshow = '';
        for (var i=0;i<length;i++)
        {
            if (i<1) {
                var goodImgUrl = arg[i].src;
                var imgshow = "<img style='width:50px;height:50px;' src='"+arg[i].src+"'>";
            }else{
                var goodImgUrl = goodImgUrl+','+arg[i].src;
                var imgshow = imgshow+"<img style='width:50px;height:50px;' src='"+arg[i].src+"'>";
            }
        }
        $("#goodUrl").val(goodImgUrl);
        $("#imgshow").replaceWith(function(){
            return imgshow;
        });
        $("#imgup").text('重新上传');
    });
    });
        
    //弹出图片上传的对话框
    function upImage()
    {
        var myImage = o_ueditorupload.getDialog("insertimage");
        myImage.open();
    }



$(function(){
    //表单验证
    $("#form-product-add").validate({
        rules:{
            goodName:{
                required:true
            },
            goodSubName:{
                required:true
            },
            goodDescription:{
                required:true
            },
            remark:{
                required:true
            },
            price:{
                required:true,
                number:true,
                min:1
            },
            discount:{
                required:true,
                number:true,
                min:0,
                max:9.9
            },
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            $(form).ajaxSubmit({
                dataType:'json',
                type:'post',
                success:function (res) {
                    if (res.code == 1){
                        layer.msg('操作成功,请稍等...',{icon:1,time:1000},function() {
                            parent.location.reload();
                        })
                    }else {
                        layer.msg('设置失败',{icon:2});
                    }
                }
            });
        }
    });
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
});

$(function(){
    var ue = UE.getEditor('editor');
});

$("#price").blur(function(){
    var number = parseInt($("#price").val());
    if (!number || number < 1) {
        $("#price").val(1);
    }
});


</script>
</body>
</html>