{include file="../application/admin/view/Public/_header.html"/}

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th>服务包名称</th>
					<th>类型</th>
					<th>价格</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="goodList" id="vo" key="k"}
				<tr class="text-c">
					<td>{$vo.goodName}</td>
					<td>
						{switch name=$vo.goodType }
						    {case value="1"}服务包{/case}
						    {case value="2"}实物{/case}
						{/switch}
					</td>
					<td id="price{$vo.id}">{$vo.price}</td>
					<td class="f-14 td-manage">
						<div class="row">
							<div class="col-lg-6">
							   <div class="input-group">
							     <span class="input-group-btn">
							       <button class="btn btn-default" type="button" onClick="reduce({$vo.id})">-</button>
							     </span>
							     <input type="number" min="0" class="form-control" placeholder="请输入或加减数量" id="number{$vo.id}" value="0">
							     <span class="input-group-btn">
							       <button class="btn btn-default" type="button" onClick="add({$vo.id})">+</button>
							     </span>
								<button onClick="checking_out({$vo.id});" class="btn btn-primary radius" type="submit">提交</button>
							   </div>
							</div>
						</div>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
		<input type="hidden" value={$id} id="id">
	</div>
{include file="../application/admin/view/Public/_footer.html"/}
<script>

//结算
function checking_out(id) {
	var goodId = id;
	var id = $("#id").val();
	var number = parseInt($("#number"+goodId).val());
	var price = $("#price"+goodId).text();
	//计算价格
	var price = parseInt(price);
	var total = number*price;

	var type = '';
	if (number<1) {
		layer.msg('购买数量不能小于1',{icon:2,time:1000});return;
	}
	layer.confirm('选择购买方式', {
	  btn: ['赠送','线下支付'] //按钮
	}, function(){
		type = 4;
		$.ajax({
		type: 'POST',
		url: "{:url('Admin/Product/checking_out')}",
		dataType: 'json',
		data:{id:id,goodId:goodId,number:number,price:price,type:type},
		success: function(data){
			if (data.code == 1) {
					layer.msg('赠送成功', {icon: 1,time:500},function() {
						parent.location.reload()
					});
				}
			}
		});
	}, function(){
		  layer.confirm('本次订单支付总额:'+total+'元(请确认线下已收款)', {
		    btn: ['确定', '取消']
		  },function(){
		  	type = 3;
		  	$.ajax({
			type: 'POST',
			url: "{:url('Admin/Product/checking_out')}",
			dataType: 'json',
			data:{id:id,goodId:goodId,number:number,price:price,type:type},
			success: function(data){
				if (data.code == 1) {
						layer.msg('购买成功', {icon: 1,time:500},function(){
							parent.location.reload()
						});
					}
				}
			});
		  },function(){
		  	layer.msg('已取消', {icon: 2});return;
		  }
		  );
	});
}

// $("input").blur(function(){
// 	var number = parseInt($("#number").val());
// 	if (!number || number < 1) {
//   		$("#number").val(1);
// 	}
// 	//计算价格
// 	Settlement(parseInt($("#number").val()),$("#price").text(),$("#unit").text());
// });

function add(id) {
	var number = parseInt($("#number"+id).val());
	if (number>=0) {
		$("#number"+id).val(number+parseInt(1));
	}else{
		$("#number"+id).val(0);
	}
	// //计算价格
	// Settlement(parseInt($("#number"+id).val()),$("#price"+id).text(),$("#unit"+id).text());
}

function reduce(id) {
	var number = parseInt($("#number"+id).val());
	if (number > 1) {
		$("#number"+id).val(number-parseInt(1));
	}else{
		$("#number"+id).val(0);
	}
	// //计算价格
	// Settlement(parseInt($("#number"+id).val()),$("#price"+id).text(),$("#unit"+id).text());
}
// $("#add").click(function(){
// 	var number = parseInt($("#number").val());
// 	if (number>0) {
// 		$("#number").val(number+parseInt(1));
// 	}else{
// 		$("#number").val(1);
// 	}
// 	//计算价格
// 	Settlement(parseInt($("#number").val()),$("#price").text(),$("#unit").text());
// });

// $("#reduce").click(function(){
// 	var number = parseInt($("#number").val());
// 	if (number > 1) {
// 		$("#number").val(number-parseInt(1));
// 	}else{
// 		$("#number").val(1);
// 	}
// 	//计算价格
// 	Settlement(parseInt($("#number").val()),$("#price").text(),$("#unit").text());
// });


</script>