{include file="../application/admin/view/Public/_header.html"/}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 订单管理 <span class="c-gray en">&gt;</span> 订单列表 
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>



<div class="page-container">
		<ul class="cl portfolio-area">
			<li class="item">
				<div class="portfoliobox" style="border:1px solid #C0C0C0;">
					<div style="height: 25%;border-bottom:1px solid #C0C0C0;"><span class="label label-success radius">今日数据</span></div>
					<div style="height: 25%">完成订单量:{$statistics.0.count}</div>
					<div style="height: 25%">成交额:￥{$statistics.0.totalPrice}</div>
				</div>
			</li>
			<li class="item">
				<div class="portfoliobox" style="border:1px solid #C0C0C0;">
						<div style="height: 25%;border-bottom:1px solid #C0C0C0;"><span class="label label-success radius">昨日数据</span></div>
					<div style="height: 25%">成交量:{$statistics.1.count}</div>
					<div style="height: 25%">成交额:￥{$statistics.0.totalPrice}</div>
				</div>
			</li>
		</ul>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-responsive table-sort">
			<thead>
				<tr class="text-c">
					<th>姓名</th>
					<th>订单号</th>
					<th>商品信息</th>
					<th>商品价格</th>
					<th>数量</th>
					<th>订单价格</th>
					<th>下单时间</th>
					<th>订单状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="list" id="vo" key="k"}
				<tr class="text-c">
					<td>{$vo.patientName}</td>
					<td id="oderNum{$vo.id}">{$vo.oderNum}</td>
					<td>{$vo.goodName}</td>
					<td>{$vo.goodPrice}</td>
					<td>{$vo.goodCount}</td>
					<td>{$vo.price}</td>
					<td>{$vo.completedTime}</td>
					<td>
					<!-- 交易状态：1待付款2已支付3已完成4申请退款5已退款6赠送 -->
					{switch name="$vo.oderState"}
					    {case value="1"}待付款{/case}
					    {case value="2"}已支付{/case}
					    {case value="3"}已完成{/case}
					    {case value="4"}申请退款{/case}
					    {case value="5"}已退款{/case}
					    {case value="6"}赠送{/case}
					{/switch}
					</td>
					<td><input class="btn btn-primary radius" type="button" onClick="order_del('删除订单','{:url('Admin/Order/order_del')}',{$vo.id})" value="删除"></td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
</body>
{include file="../application/admin/view/Public/_footer.html"/}
<script>
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  //{"orderable":false,"aTargets":[0,4]}// 不参与排序的列
	]
});

/*订单-删除*/
function order_del(title,url,id){
	var oderNum = $("#oderNum"+id).text();
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: url,
			dataType: 'json',
			data:{id:id,oderNum:oderNum},
			success: function(data){
				if(data.code==1){
					layer.msg('删除成功,请稍等...', {icon:1,time:500},function(){
						location.reload();
					});
				}else{
					layer.msg(data.msg,{icon:2,time:1000});
				}
			},
		});		
	});
}
</script>